<form formName="login" [autocomplete]="'off'" (ngSubmit)="submit()" [formGroup]="formGroup">
  <div class="login-form-wrapper">
    <span class="login-form-img"></span>
    <h1 class="login-form-heading">{{'NPSSLOGIN.title' | translate}}</h1>
    
    <box class="login-form">
      <div class="field-item">
        <app-user-name label="{{'NPSSLOGIN.username.label' | translate}}" [actionPublisher]="actionMap$.get('username')"
          placeholder="{{'NPSSLOGIN.username.placeholder' | translate}}" formControlName="username"></app-user-name>
  
      </div>
      <div errorAnchor class="field-item">
        <app-password label="{{'NPSSLOGIN.password.label' | translate}}" [actionPublisher]="actionMap$.get('password')"
          placeholder="{{'NPSSLOGIN.password.placeholder' | translate}}" formControlName="password"></app-password>
      </div>

      <ng-container *ngIf="state?.errorMessage">
        <mat-error class="error" style="display:block; text-align: center;">
          <span>{{ state.errorMessage }}</span>
        </mat-error>
      </ng-container>

    </box>

    <div class="form-footer-actions">
      <span class=""></span>
      <!-- <button type="button" class="btn-tertiary" (click)="_helper.gotoWelcome()"><span>{{'NPSSLOGIN.back' | translate}}</span></button> -->
      <button [disabled]="formGroup.invalid" type="submit" class="btn-primary"><span>{{'NPSSLOGIN.submit' | translate}}</span></button>
    </div>
  </div>
</form>