<form [formGroup]="formGroup" (ngSubmit)="submit()" autocomplete="off" formName="RetailPrepaidTopUpForm">

	<box class="entry-form">

		<ng-container *ngIf="state.cardData && device.isMobile()">
			<prepaidcard class="col-12" [cardData]="state.cardData" [formView]="true"></prepaidcard>
		</ng-container>

		<box class="grid entry-form-field-group col-lg-12">

			<app-account-list-template-control class="col-sm-12 col-md-6 col-lg-12"
				[actionPublisher]="actionMap$.get('accountNumber')"
				label="{{'RetailPrepaidTopUpForm.accountNumber.label' | translate }}" 
				placeholder="{{'RetailPrepaidTopUpForm.accountNumber.placeholder' | translate }}"
				formControlName="accountNumber"
				(commonControlEvent)="handleControlEvent($event)"></app-account-list-template-control>

			<app-currency-balance-list-control class="col-sm-12 col-md-6 col-lg-6"
				[actionPublisher]="actionMap$.get('currency')"
				label="{{'RetailPrepaidTopUpForm.currency.label' | translate }}"
				placeholder="{{'RetailPrepaidTopUpForm.currency.label' | translate }}"
				formControlName="currency"></app-currency-balance-list-control>

			<app-payment-amount-control class="col-sm-12 col-md-6 col-lg-6" [actionPublisher]="actionMap$.get('amount')"
				label="{{'RetailPrepaidTopUpForm.amount.label' | translate }}" formControlName="amount"
				(commonControlEvent)="handleControlEvent($event)" [CurrencyList]="state.amount.CurrencyList"
				[isCurrEditable]="state.amount.isCurrEditable" [defaultFetch]="state.amount.defaultFetch"
				[initCurrency]="state.amount.initCurrency" [amountInWords]="state.amount.amountInWords"
				[changePublisher]="formChangePublisher$"
				[dependencyField]="['fromCurrencyVariable','toCurrencyVariable','accountBalanceVariable']"></app-payment-amount-control>
				<box class="field-item col-sm-12 col-md-6 col-lg-12" [actionPublisher]="actionMap$.get('impNote')">
				<box class="info-field" >
					<fpx-display-text class="info-field-label" [innerHTML]="''"
						[literals]="commonFormInput"></fpx-display-text>
					<fpx-display-text class="info-field-value" [innerHTML]="state.impNote"
						[literals]="commonFormInput"></fpx-display-text>
				</box>
			</box>


			<box class="field-item col-sm-12 col-md-6 col-lg-12" [actionPublisher]="actionMap$.get('exchangeDetails')">
				<fpx-label label="FX Details"></fpx-label>
				<box class="info-box">
					<box class="info-field">
						<fpx-display-text class="info-field-label" [innerHTML]="'FX_RATES.dAmount' | translate"
							[literals]="commonFormInput"></fpx-display-text>
						<fpx-display-text class="info-field-value" [innerHTML]="state.exchangeDetails.debitAmount"
							[literals]="commonFormInput"></fpx-display-text>
					</box>
					<box class="info-field">
						<fpx-display-text class="info-field-label" [innerHTML]="'FX_RATES.cAmount' | translate"
							[literals]="commonFormInput"></fpx-display-text>
						<fpx-display-text class="info-field-value" [innerHTML]="state.exchangeDetails.creditAmount"
							[literals]="commonFormInput"></fpx-display-text>
					</box>
					<box class="info-field">
						<fpx-display-text class="info-field-label" [innerHTML]="'FX_RATES.exRate' | translate"
							[literals]="commonFormInput"></fpx-display-text>
						<fpx-display-text class="info-field-value" [innerHTML]="state.exchangeDetails.exchangeRate"
							[literals]="commonFormInput"></fpx-display-text>
					</box>
				</box>
			</box>

			<app-payment-amount-control class="col-sm-12 col-md-6 col-lg-6"
				[actionPublisher]="actionMap$.get('charges')"
				label="{{'RetailPrepaidTopUpForm.charges.label' | translate }}" formControlName="charges"
				(commonControlEvent)="handleControlEvent($event)" [CurrencyList]="state.charges.CurrencyList"
				[isCurrEditable]="state.charges.isCurrEditable" [defaultFetch]="state.charges.defaultFetch"
				[initCurrency]="state.charges.initCurrency" [amountInWords]="state.charges.amountInWords"
				[changePublisher]="formChangePublisher$"></app-payment-amount-control>

			<app-remarks-control class="col-sm-12 col-md-6 col-lg-12" [actionPublisher]="actionMap$.get('remarks')"
				label="{{'RetailPrepaidTopUpForm.remarks.label' | translate }}"
				formControlName="remarks"></app-remarks-control>
		</box>
		<box id="group_disclaimer-box" class="col-sm-12 col-md-6 col-lg-6 grid main-group disclaimer-box">

			<app-terms-control class="col-md-12" [actionPublisher]="actionMap$.get('termsFlag')"
				label="{{'RetailPrepaidTopUpForm.termsFlag.label' | translate }}" formControlName="termsFlag"
				placeholder="{{'RetailPrepaidTopUpForm.termsFlag.placeholder' | translate }}"
				[textPosition]="state.termsFlag.textPosition" [ckValues]="state.termsFlag.ckValues"></app-terms-control>
		</box>
	</box>
</form>