<box class="npss-recent-transactions-inner">
    <box class="no-transactions">
        <box class="no-transactions-inner">
            <fpx-display-text class="title" innerHTML="{{'NPSSCONTAINER.transactionsTtl' | translate}}"></fpx-display-text>
            <fpx-display-text class="no-transaction-ttl" innerHTML="{{'NPSSCONTAINER.noTransactionsTtl' | translate}}"></fpx-display-text>
            <fpx-display-text class="no-transaction-desc" innerHTML="{{'NPSSCONTAINER.noTransactionsDesc' | translate}}"></fpx-display-text>
            <!-- <fpx-button btnClass="secondary small fill" btnType="button" [label]="'NPSSCONTAINER.addBtnLbl' | translate"></fpx-button> -->
        </box>
        <box class="no-transactions-img">
            <img src="./assets/illustrations/no-transactions.svg" alt="no transactions" />
        </box>
    </box>
</box>