 
	  #cardholdername {        text-align: left !important;       }
	  #cardspendlimit {        text-align: left !important;       }
	  #creditcardexpirymonth {        text-align: left !important;       }
	  #creditcardexpiryyear {        text-align: left !important;       }
	  #charges {        text-align: left !important;       }
 
    
