@media (max-width: 768px) {
    .login-layout{
        header{
            img{
                filter: brightness(0) invert(1);
            }
        }
    }
}

@media screen and (min-width: 769px) {
    #depAppBody{
        balance-sheet{
            background: radial-gradient(circle at top right, #008d91, #173147);
        }
    
        .welcome-banner-wrapper {
            background: url('./images/banners/welcome-banner.png') no-repeat 0 0 transparent;
            background-size: auto 100%;
        }
    }
}