 
	  #employmentType {        text-align: left !important;       }
	  #subemptype {        text-align: left !important;       }
	  #empstatus {        text-align: left !important;       }
	  #companyName {        text-align: left !important;       }
	  #company_Code {        text-align: left !important;       }
	  #occupationType {        text-align: left !important;       }
	  #industryCode {        text-align: left !important;       }
	  #position {        text-align: left !important;       }
	  #designation {        text-align: left !important;       }
	  #department {        text-align: left !important;       }
	  #natureofbus {        text-align: left !important;       }
	  #empsoi {        text-align: left !important;       }
	  #userDefinedField1 {        text-align: left !important;       }
	  #userDefinedField2 {        text-align: left !important;       }
	  #userDefinedField4 {        text-align: left !important;       }
	  #userDefinedField3 {        text-align: left !important;       }
	  #userDefinedField5 {        text-align: left !important;       }
 
    
