 
	  #loanAccountNumber {        text-align: left !important;       }
	  #currency {        text-align: left !important;       }
	  #loanAmount {        text-align: left !important;       }
	  #openDate {        text-align: left !important;       }
	  #rePaidAmount {        text-align: left !important;       }
	  #payOffAmount {        text-align: left !important;       }
	  #nextDueDate {        text-align: left !important;       }
	  #lastPaymentDate {        text-align: left !important;       }
	  #status {        text-align: left !important;       }
	  #tenorUnit {        text-align: left !important;       }
	  #branchDesc {        text-align: left !important;       }
	  #totalOutstanding {        text-align: left !important;       }
 
    
