<box class="quick-action-widget-container">
    <app-fb-quick-actions></app-fb-quick-actions>
</box>

<box  class="spending-chores-section">
    <box class="col-sm-12 col-md-6 col-lg-6 spending-overview-container">
        <app-members-spending-overview></app-members-spending-overview>
    </box>
    <box class="col-sm-12 col-md-6 col-lg-6 pending-chores-section">
        <box class="pending-chores-section">
            <app-pending-chores-carousel></app-pending-chores-carousel>
        </box>
    </box>
     
</box>
<box class="upcoming-payments-widget-container"> 
    <app-member-next-allowance></app-member-next-allowance>
</box> 
