	<form [formGroup]="formGroup" (ngSubmit)="submit()" autocomplete="off" formName="RetailChangePasswordForm" >
		<div class="login-form-wrapper">
			<span class="login-form-img"></span>
			<!-- <h1 class="login-form-heading">{{'RetailChangePasswordForm.title' | translate}}</h1> -->
		</div>
			<box class="entry-form-field-group grid col-12">
	     
	      
			  <app-password  class="col-md-4"   [actionPublisher]="actionMap$.get('oldPassword')"     label="{{'RetailChangePasswordForm.oldPassword.label' | translate }}"   formControlName="oldPassword"  placeholder="{{'RetailChangePasswordForm.oldPassword.placeholder' | translate }}" 
   ></app-password>
	     
	      
			  <app-password  class="col-md-4"   [actionPublisher]="actionMap$.get('newPassword')"     label="{{'RetailChangePasswordForm.newPassword.label' | translate }}"   formControlName="newPassword"  placeholder="{{'RetailChangePasswordForm.newPassword.placeholder' | translate }}" 
   ></app-password>
	     
	      
			  <app-password  class="col-md-4"   [actionPublisher]="actionMap$.get('confirmPassword')"     label="{{'RetailChangePasswordForm.confirmPassword.label' | translate }}"   formControlName="confirmPassword"  placeholder="{{'RetailChangePasswordForm.confirmPassword.placeholder' | translate }}" 
   ></app-password>
	 </box> 
	 <box class="profile-rule">

		<fpx-display-text id="sample2" class="col-md-4  rule" [ngClass]="{ valid: state.lengthValid }"
			[innerHTML]="'CobApplicantProfileForm.sample2.text' | translate"
			[literals]="commonFormInput"></fpx-display-text>


		<fpx-display-text id="sample3" class="col-md-4  rule" [ngClass]="{ valid: state.space }"
			[innerHTML]="'CobApplicantProfileForm.sample3.text' | translate"
			[literals]="commonFormInput"></fpx-display-text>


		<fpx-display-text id="sample4" class="col-md-4  rule" [ngClass]="{ valid: state.sequenceValid }"
			[innerHTML]="'CobApplicantProfileForm.sample4.text' | translate"
			[literals]="commonFormInput"></fpx-display-text>


		<fpx-display-text id="sample5" class="col-md-4  rule" [ngClass]="{ valid: state.mustContainLetters }"
			[innerHTML]="'CobApplicantProfileForm.sample5.text' | translate"
			[literals]="commonFormInput"></fpx-display-text>
	</box>
	<box id="disclaimer-box" class="col-sm-12 col-md-6 col-lg-12 grid  disclaimer-box  ">
		<fpx-display-text id="sample1" class="col-md-4" [ngClass]="{ valid: state.lengthValid }"
			[innerHTML]="'CobApplicantProfileForm.sample1.text' | translate"
			[literals]="commonFormInput"></fpx-display-text>
	</box>
	<div class="form-footer-actions">
		<button type="button" class="btn-tertiary" (click)="_helper.gotoWelcome()">
			<span>{{'LOGIN.back' | translate}}</span>
		</button>
		<button [disabled]="formGroup.invalid" type="submit" class="btn-primary">
			<span>{{'LOGIN.submit' | translate}}</span>
		</button>
	</div>
	</form>
	
