#depAppBody {

    .actions-list {
        .icon-wrapper {
            &:is(.RETAILWALLET)::before {
                mask-image: url("../../assets/wallet/wallet.svg");
                -webkit-mask-image: url("../../assets/wallet/wallet.svg");
                mask-size: 48px;
            }
        }
    }
    .actions-list .icon-wrapper:is(.RETAILWALLETDETAILS)::before {
        mask-image: url("../../assets/wallet/wallet.svg");
        -webkit-mask-image: url("../../assets/wallet/wallet.svg");
        mask-size: 48px;
    }

    .actions-list .icon-wrapper:is(.RETAILWALLETLIMIT)::before {
        mask-image: url("../../assets/wallet/add-money.svg");
        -webkit-mask-image: url("../../assets/wallet/add-money.svg");
     }
    .actions-list .icon-wrapper:is(.RETAILWALLETWITHDRAWMONEY)::before {
        mask-image: url("../../assets/wallet/withdraw-money.svg");
        -webkit-mask-image: url("../../assets/wallet/withdraw-money.svg");
     }

    .wallet-home {

        .ql-RETAILSCANWALLETQR .icon-wrapper::before {
            mask-image: url('../../assets/wallet/scan-pay.svg');
            -webkit-mask-image: url('../../assets/wallet/scan-pay.svg');
        }
        .ql-RETAILWALLETTRANSFER .icon-wrapper::before {
            mask-image: url('../../assets/wallet/scan-pay.svg');
            -webkit-mask-image: url('../../assets/wallet/scan-pay.svg');
        }
        .ql-RETAILWALLETADDMONEY .icon-wrapper::before {
            mask-image: url('../../assets/wallet/scan-pay.svg');
            -webkit-mask-image: url('../../assets/wallet/scan-pay.svg');
        }
    
        .ql-RETAILSHOWWALLETQR .icon-wrapper::before {
            mask-image: url('../../assets/wallet/add-money.svg');
            -webkit-mask-image: url('../../assets/wallet/add-money.svg');
        }
        .ql-RETAILWALLETWITHDRAWMONEY .icon-wrapper::before {
            mask-image: url('../../assets/wallet/withdraw-money.svg');
            -webkit-mask-image: url('../../assets/wallet/withdraw-money.svg');
        }

        .ql-RETAILWALLETREQMONEY .icon-wrapper::before {
            mask-image: url('../../assets/wallet/request-money.svg');
            -webkit-mask-image: url('../../assets/wallet/request-money.svg');
        }
        

        .casa-transactions-grid-header{padding:0px 16px}
        .wallet-detail-form .display-field{width: 100%;}
        .space-content {
            @include large-screen {
                .no-kid-message-container {
                    background: var(--neutral50);
                    gap: 16px;
                    border-radius: 22px;
                    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.0901)
                }

                .header {
                    @include s3-medium;
                    padding: 16px 24px;
                    border-bottom: 1px solid var(--neutral200);
                }

                .wrapper-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    padding: 70px;
                    gap: 24px;
                }
            }

        }

        @include not-large-screen {
            .no-kid-message-container {
                align-items: center;
                text-align: center;
            }
        }


        .module-home-bg {
            height: 266px;
            border-radius: 0 0 32px 32px;
        }

        .svg-container {
            padding: 16px
        }

        .no-member-container {
            display: flex;
            flex-direction: row;
            gap: 10px;
            box-shadow: 0px 0px 30px 0px #00000017;
            border-radius: 12px;
            justify-content: space-between;
            background: var(--tertiaryAqua500);
            margin: 16px;

            .add-member-container {
                @include b2-regular;
                display: flex;
                flex-direction: column;
                color: var(--baseTxtClr);
                padding: 16px 0px 16px 16px;
                gap: 10px;

                .add-kid-btn {
                    text-align: left;
                    color: var(--secondary500);
                    border: 1px solid var(--secondary500);
                    width: 72px;
                    padding: 9px;
                    border-radius: 24px;
                    text-align: center;

                    .label {
                        @include b3-medium
                    }
                }
            }
        }

        .no-kid-message-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
            color: var(--baseTxtClr);

            .text-container {
                @include b1-regular;
                max-width: 325px;
            }

            .get-started-btn {
                @include s3-medium;
                border-radius: 18px;
                width: 130px;
                color: var(--neutral50);
                background: var(--secondary500);
                padding: 6px 0px;
                text-align: center
            }
        }

        @include large-screen {
            .no-member-container {
                background: var(--neutral50);
                margin: 0px
            }
        }

        .contextual-menu-trigger
        {position: absolute;
        left: calc(50% - 12px);
        bottom: 2px;
        width: 24px;
        height: 24px;
        background-color: var(--baseTxtClr);
        mask: url(../../assets/wallet/loan-context-menu-trigger.svg) no-repeat center;
        -webkit-mask: url(../../assets/wallet/loan-context-menu-trigger.svg) no-repeat center;
        mask-size: 18px;
        -webkit-mask-size: 18px;
        bottom: 4px;
        margin: auto;
        z-index: 3;
        }
        
        
        
        .summary-card.has-context-menu:after {
        content: " ";
        position: absolute;
        bottom: 1px;
        width: 98px;
        height: 18px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: var(--tertiaryAqua500);
        mask: url(../../assets/wallet/expander.svg) no-repeat center 100%;
        -webkit-mask: url(../../assets/wallet/expander.svg) no-repeat center 100%;
        mask-size: 98px;
        -webkit-mask-size: 98px;
        z-index: 2;
    }	
    }
    
    .wallet-detail-form .detail-form-head{@include s3-medium}
        app-show-wallet-qr {
        .wallet-qr-container {
            padding: var(--widgetPadding);

            .wallet-details-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;

                .wallet-info {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: var(--readonlyTxtClr);

                    .primary-info {
                        @include b2-regular;
                    }

                    .secondary-info {
                        @include s4-medium;
                    }
                }
            }
        }
    }
    app-retail-wallet-add-money-form{
        .field-item{
            flex-direction: column;
        }
    }
    app-retail-wallet-transfer-form,app-retail-wallet-req-money{
        .phonebook-wrapper{
            position: relative;
        }
        .field-item{
            flex-direction: column;
        }
        .wallet-money-transfer-amount-control{
            .fpx-curr-amount{
                .fpx-form-control{
                    fpx-label{
                        display: none;
                    }
        
                    .fpx-field-content{
                        border: none;
        
                        .amount-field-wrapper{
                            gap: 4px;
                            justify-content: center;
                            margin-left: 28px;
        
                            .currency-code-wrapper{
                                background: transparent;
                                padding: 0;
        
                                .mat-select-value-text{
                                    @include h1-bold;
                                    color: #35393C;
                                }
                                .mat-select-trigger{
                                    height: auto;
                                }
                                .mat-select-arrow-wrapper{
                                    display: none;
                                }
                            }
                            .amount-input{
                                padding: 0;
                                width: 140px;
                                input{
                                    @include h1-bold;
                                    color: #35393C;
                                    text-align: left !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

 

    app-retail-wallet-registration-form{
        .wallet-form{
            display: flex;
            flex-direction: column;
            gap: 20px;
	    .basic-dtls-down{
                display: none;
            }
            .basic-dtl-down{
                display: none;
            }
        }
        .accordion-header{
            display: flex;
            justify-content: space-between;
        }
        .toggle-accordion{
            .arrow {
              border-radius: 50%;
              display: flex;
              align-items: center;
              gap: 10px;
          
              &::before {
                content: " ";
                width: 24px;
                height: 24px;
                display: inline-block;
                background-color: var(--secondary500);
              }
          
              &.rotate-down {
                width: 24px;
                height: 24px;
                margin: 0;
                mask: url("../../assets/images/overview/expander-arrow.svg") no-repeat center;
                -webkit-mask: url("../../assets/images/overview/expander-arrow.svg") no-repeat center;
                mask-size: 16px;
                -webkit-mask-size: 16px;
              }
          
              &.rotate-up {
                width: 24px;
                height: 24px;
                margin: 0;
                mask: url("../../assets/images/overview/expander-arrow.svg") no-repeat center;
                -webkit-mask: url("../../assets/images/overview/expander-arrow.svg") no-repeat center;
                mask-size: 16px;
                -webkit-mask-size: 16px;
                transform: rotate(180deg) !important;
              }
            }
          }
    }

    .dep-confirmation{
        gap:8px;
    }
    app-wallet-reg-form{
        .fpx-tab-labels{
            display: none;
        }
    }


}
