<div #expenseCategoriesCarousel></div>
<box class="widget expense-categories-carousel">
    <header>
        <span class="widget-title">{{ 'ExpenseCategorization.title' | translate }}</span>
        <form [formGroup]="formGroup" autocomplete="off" formName="expenseCategoriesMonthSelection">
            <app-pfm-months-list-control [actionPublisher]="actionMap$.get('expenseCategoriesMonth')"
                formControlName="expenseCategoriesMonth"></app-pfm-months-list-control>
        </form>
    </header>
    <box class="widget-carousel" [style.width.px]="state.carouselWidth">
        <ng-container *ngIf="state.pfmSpends">
            <ngx-slick-carousel class="expense-categories-carousel" #slickModal="slick-carousel" [config]="slideConfig"
                (afterChange)="onCardChanged($event)">
                <box ngxSlickItem class="slide">
                    <app-expense-categories-widget [spendsData]="state.pfmSpends"></app-expense-categories-widget>
                </box>
                <box ngxSlickItem class="slide">
                    <app-expense-comparison [spendsData]="state.pfmSpends"></app-expense-comparison>
                </box>
            </ngx-slick-carousel>
        </ng-container>

    </box>
</box>