 
	  #accountNumber {        text-align: left !important;       }
	  #fromDate {        text-align: left !important;       }
	  #toDate {        text-align: left !important;       }
	  #reason {        text-align: left !important;       }
	  #otherReason {        text-align: left !important;       }
	  #chargesAmount {        text-align: left !important;       }
	  #termsFlag {        text-align: left !important;       }
	  #Disclaimer {        font-family: sans-serif !important; font-size: 12px !important; color: #555 !important; font-style: normal !important; text-align: left !important;       }
 
    
