 
	  #nickName {        text-align: left !important;       }
	  #termsFlag {        text-align: right !important;       }
	  #creditCardAccounts {        text-align: left !important;       }
	  #smartPayDisclaimer {        font-family: sans-serif !important; font-size: 12px !important; color: #555 !important; font-style: normal !important; text-align: left !important;       }
	  #termDisclaimerTxt {        font-family: sans-serif !important; font-size: 12px !important; color: #555 !important; font-style: normal !important; text-align: left !important;       }
 
	  .disclaimer-box {
		display: none;
	  }
