.lbl-content{
    position: relative;
    margin-left: 30px;
    margin-top: -40px;
}


.countrycode-action {
    position: absolute;
    top: calc(56px - 8px);
    margin-left: 10px;
    width: 40px;
}




