 
	  #accountNumber {        text-align: left !important;       }
	  #iBAN {        text-align: left !important;       }
	  #termsFlag {        text-align: right !important;       }
	  #remarks {        text-align: left !important;       }
	  #chargesAmount {        text-align: left !important;       }
 
    
