 
	  #creditCardNumber {        text-align: left !important;       }
	  #confirmCreditCardNumber {        text-align: left !important;       }
	  #bic {        text-align: left !important;       }
	  #bankCode {        text-align: left !important;       }
	  #branchCode {        text-align: left !important;       }
	  #branchAddress {        text-align: left !important;       }
 
    
