<form [formGroup]="formGroup" (ngSubmit)="submit()" autocomplete="off" formName="RetailForgotPasswordForm">
	<box class="entry-form">

		<!-- <fpx-display-text class="form-heading"
			[innerHTML]="'RetailForgotPasswordForm.title' | translate"></fpx-display-text> -->

		<box class="entry-form-field-group grid">

				
					<app-username-control class="col-sm-12 col-md-6 col-lg-12" [actionPublisher]="actionMap$.get('username')"
					label="{{'RetailForgotPasswordForm.username.label' | translate}}"
					placeholder="{{'RetailForgotPasswordForm.username.placeholder' | translate }}"
					formControlName="username"></app-username-control>
					<div class="field-item  col-sm-12 col-md-6 col-lg-12">
					<div class="recover-link" (click)="_helper.navToForgotUsername()"><button type="button" name="forgotUserName"
						tabindex="1">{{ 'RetailForgotPasswordForm.forgotUsername' | translate }}</button></div>
				  </div>
			<!-- <app-identification-mode-control class="col-sm-12 col-md-6 col-lg-12"
			[actionPublisher]="actionMap$.get('identificationMode')"
			label="{{'RetailForgotPasswordForm.identificationMode.label' | translate }}"
			formControlName="identificationMode"></app-identification-mode-control> -->
			<app-retail-self-reg-config-control class="col-sm-12 col-md-6 col-lg-12"
				[actionPublisher]="actionMap$.get('identificationMode')"
				label="{{'RetailForgotPasswordForm.identificationMode.label' | translate }}"
				formControlName="identificationMode"></app-retail-self-reg-config-control>
			<app-account-number-control class="col-sm-12 col-md-6 col-lg-12"
				[actionPublisher]="actionMap$.get('accountNumber')"
				label="{{'RetailForgotPasswordForm.accountNumber.label' | translate }}"
				formControlName="accountNumber"></app-account-number-control>
			<app-card-number-control class="col-sm-12 col-md-6 col-lg-12"
				[actionPublisher]="actionMap$.get('debitcardNumber')"
				label="{{'RetailForgotPasswordForm.debitcardNumber.label' | translate }}"
				formControlName="debitcardNumber"></app-card-number-control>
				
				<fpx-display-text id="expiryDate" class="col-sm-12 col-md-6 col-lg-12 FieldId_4"
				[innerHTML]="state.expiryYearLabel"
				[actionPublisher]="actionMap$.get('expiryDate')"
				[literals]="commonFormInput"></fpx-display-text>
				<box id="FieldId_3"class="col-sm-6 col-md-6 col-lg-6 grid  ">
			<app-expiry-month-list-control class="col-sm-12 col-md-12 col-lg-12" [actionPublisher]="actionMap$.get('expiryMonth')"
				formControlName="expiryMonth">
			</app-expiry-month-list-control>
		</box>
			<box id="FieldId_3" class="col-sm-6 col-md-6 col-lg-6 grid  ">
				<app-cc-expiry-year-list-control class="col-sm-12 col-md-12 col-lg-12 "
					[actionPublisher]="actionMap$.get('expiryYear')" formControlName="expiryYear">
				</app-cc-expiry-year-list-control>

			</box>
			<app-customer-id-control class="col-sm-12 col-md-6 col-lg-12" [actionPublisher]="actionMap$.get('customerCif')"
			label="{{'RetailForgotPasswordForm.customerId.label' | translate }}"
			formControlName="customerCif"></app-customer-id-control>
			<app-dc-pin-control class="col-sm-12 col-md-6 col-lg-6" [actionPublisher]="actionMap$.get('pin')"
				label="{{'RetailForgotPasswordForm.pin.label' | translate }}"
				formControlName="pin"></app-dc-pin-control>

				<app-date-of-birth-control class="col-sm-12 col-md-6 col-lg-12" [actionPublisher]="actionMap$.get('dob')"
				label="{{'RetailForgotPasswordForm.dob.label' | translate }}" 
				placeholder="{{'RetailForgotPasswordForm.dob.placeholder' | translate }}"formControlName="dob"
				[minDate]="state.dob.minDate" [maxDate]="state.dob.maxDate"></app-date-of-birth-control>
		</box>

		<!-- <box id="group_disclaimer-box" class="col-sm-12 col-md-6 col-lg-12 grid main-group disclaimer-box">
			<app-terms-control class="col-sm-12 col-md-6 col-lg-4" [actionPublisher]="actionMap$.get('termsFlag')"
				label="{{ 'RetailForgotPasswordForm.termsFlag.label' | translate }}" formControlName="termsFlag"
				[textPosition]="state.termsFlag.textPosition" [ckValues]="state.termsFlag.ckValues"></app-terms-control>
		</box> -->

	</box>

	<div class="form-footer-actions">
		<button type="button" class="btn-tertiary" (click)="_helper.gotoWelcome()"><span>{{'LOGIN.back' |
				translate}}</span></button>
		<button [disabled]="formGroup.invalid" type="submit" class="btn-primary"><span>{{'LOGIN.submit' |
				translate}}</span></button>
	</div>

</form>