	<form [formGroup]="formGroup" (ngSubmit)="submit()" autocomplete="off" formName="RetailCCActivationForm" >
	   
	 <box class="entry-form">
		<ng-container *ngIf="state.cardData">
			<creditcard class="col-12" [cardData]="state.cardData" [formView]="true"></creditcard>
		</ng-container>
		<box class="grid entry-form-field-group">
	      
	 <app-name-control class="col-sm-12 col-md-6 col-lg-6" [actionPublisher]="actionMap$.get('cardHolderName')"
	 label="{{'RetailCCActivationForm.cardHolderName.label' | translate }}"
	 formControlName="cardHolderName"></app-name-control>

	      
			  <app-expiry-month-list-control  class="col-sm-12 col-md-6 col-lg-4"   [actionPublisher]="actionMap$.get('expiryMonth')"     label="{{'RetailCCActivationForm.expiryMonth.label' | translate }}"   formControlName="expiryMonth" 
     ></app-expiry-month-list-control>
	     
	      
			  <app-cc-expiry-year-list-control  class="col-sm-12 col-md-6 col-lg-4"   [actionPublisher]="actionMap$.get('expiryYear')"     label="{{'RetailCCActivationForm.expiryYear.label' | translate }}"   formControlName="expiryYear" 
     ></app-cc-expiry-year-list-control>
	     
	      
			  <app-dcvv-pin-control  class="col-sm-12 col-md-6 col-lg-4"   [actionPublisher]="actionMap$.get('cvv')"     label="{{'RetailCCActivationForm.cvv.label' | translate }}"   formControlName="cvv" 
			 
   ></app-dcvv-pin-control>
	     
	      
			  <app-remarks-control  class="col-sm-12 col-md-6 col-lg-4"   [actionPublisher]="actionMap$.get('remarks')"     label="{{'RetailCCActivationForm.remarks.label' | translate }}"   formControlName="remarks" 
   ></app-remarks-control>
	    
	 </box> 
	 <box id="group_disclaimer-box" class="col-sm-12 col-md-6 col-lg-6 grid main-group disclaimer-box">
		
		<app-terms-control  class="col-sm-12 col-md-6 col-lg-4"   [actionPublisher]="actionMap$.get('termsFlag')"     label="{{'RetailCCActivationForm.termsFlag.label' | translate }}"   formControlName="termsFlag" 
		[textPosition]="state.termsFlag.textPosition"  [ckValues]="state.termsFlag.ckValues" ></app-terms-control>
	 </box>
	</box>
	</form>
	
