<form [formGroup]="formGroup" (ngSubmit)="submit()" autocomplete="off" formName="RetailDebitCardSetPinForm">

	<box class="entry-form">
		<!-- <ng-container *ngIf="state.cardData">
			<debitcard class="col-12" [cardData]="state.cardData" [formView]="true"></debitcard>
		</ng-container> -->
		<box class="grid entry-form-field-group">


			<app-dc-pin-control class="col-sm-12 col-md-6 col-lg-4" [actionPublisher]="actionMap$.get('newPin')"
				label="{{'RetailDebitCardSetPinForm.newPin.label' | translate }}"
				formControlName="newPin"></app-dc-pin-control>


			<app-dc-pin-control class="col-sm-12 col-md-6 col-lg-4" [actionPublisher]="actionMap$.get('reenteredPin')"
				label="{{'RetailDebitCardSetPinForm.reenteredPin.label' | translate }}"
				formControlName="reenteredPin"></app-dc-pin-control>
			<!-- <app-remarks-control class="col-sm-12 col-md-6 col-lg-6" [actionPublisher]="actionMap$.get('remarks')"
				label="{{'RetailDebitCardSetPinForm.remarks.label' | translate }}"
				formControlName="remarks"></app-remarks-control> -->

		</box>
		<!-- <box id="group_disclaimer-box" class="col-sm-12 col-md-6 col-lg-6 grid main-group disclaimer-box">

			<app-terms-control class="col-sm-12 col-md-6 col-lg-6" [actionPublisher]="actionMap$.get('termsFlag')"
				label="{{'RetailDebitCardSetPinForm.termsFlag.label' | translate }}" formControlName="termsFlag"
				[textPosition]="state.termsFlag.textPosition" [ckValues]="state.termsFlag.ckValues"></app-terms-control>
		</box> -->
	</box>
</form>