<box class="tab-container-inner">
    <ng-container *ngIf="casaAccounts; else loader">
        <ng-container *ngIf="casaAccounts.length; else noAccount">
            <ng-container *ngIf="device.isMobile(); else listView">
                <box class="carousel-view-all-wrapper">
                    <casa-summary-card-carousel *ngIf="showCard" [summary]="casaAccounts"
                        (onSelectCard)="onSelectCard($event)"></casa-summary-card-carousel>
                    <box [ngClass]="{'hide-view-all' : casaAccounts.length == 1}" class="view-all-button-wrapper">
                        <button type="button" class="view-btn" (click)="viewAll()">
                            View all
                        </button>
                    </box>
                </box>
            </ng-container>
            <ng-template #listView>
                <ul class="casa-account-list">
                    <ng-container *ngFor="let account of casaAccounts">
                        <li class="casa-account-list-item">
                            <box class="casa-account">
                                <box class="acc-primary-info">
                                    <span class="acc-type">{{ account.accountTypeDesc }}</span>
                                    <span class="acc-number">{{ account.accountNumber }}</span>
                                </box>
                                <box class="acc-secondary-info">
                                    <span class="lbl">{{ 'CASASUMMARYCARD.available' | translate }}</span>
                                    <span class="amount">{{ account.availableBalance | currency :
                                        account.accountCurrency : ''}} <em>{{ account.accountCurrency }}</em></span>
                                </box>
                            </box>
                        </li>
                        <hr />
                    </ng-container>
                </ul>
            </ng-template>
        </ng-container>
    </ng-container>

    <box class="tab-main-content">
        <ng-container *ngIf="device.isMobile()">
            <contextual-actions [cardData]="currentCard" [accountNumber]="accountNumber"
                [quickLinks]="quickMenus" [showAccountsLoader]="true"></contextual-actions>

            <ng-container *ngIf="!appConstants.requiredAccountsSpaceNavigation && cardReady">
                <app-view-casa-transaction-form></app-view-casa-transaction-form>
            </ng-container>

        </ng-container>

        <ng-container *ngIf="!device.isMobile()">
            <app-finantial-record></app-finantial-record>
            <app-goals></app-goals>
        </ng-container>

        <ng-container *ngIf="appConstants.requiredAccountsSpaceNavigation">
            <box class="offers-widget">
                <banner-ads [serviceCode]="serviceCode"></banner-ads>
            </box>
        </ng-container>

    </box>
</box>

<!-- Content loader -->
<ng-template #loader>
    <box class="loading casa-summary-loader mobile-summary-loader"></box>
</ng-template>

<ng-template #noAccount>
    <box *ngIf="device.isMobile()" class="no-account-tmplt no-casa-tmplt">
        <box class="left-section">
            <span class="no-result-desc">No Accounts are created, Start by creating a new account with Us!</span>
            <button type="button" class="no-result-btn" (click)="openNewCasa()">Create</button>
        </box>
        <box class="right-section">
            <img src="./assets/illustrations/no-account.svg" alt="create an account" />
        </box>
    </box>
</ng-template>

<ng-template #noInsights>
    <box class="no-insights-tmplt">
        <box class="header">
            <span class="name">Savings Account</span>
        </box>
        <box class="desc">Get 7.75% pa on your intrest on you savings account balance</box>
        <box class="benefit-points">
            <span class="benefit-desc">Safe and risk-free Investment</span>
            <span class="benefit-desc">No pre-closure penalty for seniors</span>
            <span class="benefit-desc">Monthly and Quarterly interest payouts</span>
        </box>
    </box>
</ng-template>