<box class="casa-home-container">
    <box class="widget upcoming-payments">
        <!-- <box class="widget-body upcomingPaymentsTmplt">
            <box class="upcoming-payments-list">
                <box class="upcoming-payments-list-item">
                    <box class="icon-wrapper">
                        <span class="payment-icon">
                            <img src="./assets/transactions/DOMPAY.svg" alt="payment icon" />
                        </span>
                    </box>
                    <box class="payment-details">
                        <box class="primary-info">
                            <span class="date">Next Payment - Dec 6</span>
                            <span class="name">Rakesh</span>
                            <span class="acc-info">Debit A/c - 1393909321</span>
                        </box>
                        <box class="secondary-info">
                            <span class="amount debit">{{ 266 | currency : '_appConfig.baseCurrency' : '' }} <em>_appConfig.baseCurrency</em></span>
                            <span class="pay-type">Domestic Transfer</span>
                        </box>
                    </box>
                </box>
                <box class="upcoming-payments-list-item">
                    <box class="icon-wrapper">
                        <span class="payment-icon">
                            <img src="./assets/transactions/DOMPAY.svg" alt="payment icon" />
                        </span>
                    </box>
                    <box class="payment-details">
                        <box class="primary-info">
                            <span class="date">Next Payment - Dec 6</span>
                            <span class="name">Rakesh</span>
                            <span class="acc-info">Debit A/c - 1393909321</span>
                        </box>
                        <box class="secondary-info">
                            <span class="amount debit">{{ 266 | currency : '_appConfig.baseCurrency' : '' }} <em>_appConfig.baseCurrency</em></span>
                            <span class="pay-type">Domestic Transfer</span>
                        </box>
                    </box>
                </box>
                <box class="upcoming-payments-list-item">
                    <box class="icon-wrapper">
                        <span class="payment-icon">
                            <img src="./assets/transactions/DOMPAY.svg" alt="payment icon" />
                        </span>
                    </box>
                    <box class="payment-details">
                        <box class="primary-info">
                            <span class="date">Next Payment - Dec 6</span>
                            <span class="name">Rakesh</span>
                            <span class="acc-info">Debit A/c - 1393909321</span>
                        </box>
                        <box class="secondary-info">
                            <span class="amount debit">{{ 266 | currency : '_appConfig.baseCurrency' : '' }} <em>_appConfig.baseCurrency</em></span>
                            <span class="pay-type">Domestic Transfer</span>
                        </box>
                    </box>
                </box>
            </box>
        </box> -->
        <box>
            <app-retail-cc-transaction-summary></app-retail-cc-transaction-summary>
        </box>
    </box>
</box>