<form [formGroup]="formGroup" (ngSubmit)="submit()" autocomplete="off" formName="RetailBusinessDDReqInfoForm" >
	  
	<box class="entry-form">
		<box class="grid entry-form-field-group col-lg-12">
		<div class="payment-container">
			<!-- <h2>Payment Information</h2> -->
			<p>
				Manage your direct deposit information with the Canada Revenue Agency!
			</p>
			<p>Sign up for direct deposit now to ensure your payment arrives sooner.</p>
			<p>We will notify the Canada Revenue Agency (CRA) to update your information with the latest banking details.
				</p>
				<p>If you've made an error and need to change payments for your business from the Canada Revenue Agency, you can sign up for direct deposit to receive:</p>

			<ul>
			  <li>Refunds</li>
			  <li>Rebates</li>
			  <li>Payroll deductions</li>
			  <li>GST/HST credit </li>
			  <li>Canada child benefit </li>
			  <li>Other federal government payments</li>
			</ul>
		  
		  </div>
</box>
	</box> 
</form>
	
