<div class="task-item" id="row_data_{{ index }}" [ngClass]="{'task-completed':selectedData.status == '3'}">
    <ng-container *ngIf="_device.isMobile()">
        <div class="task-action task-action-left">
            <button type="button" class="button-task-action system-ico-button button-share" clickable
                (click)="doShare($event, selectedData)">
                <span>Share</span>
            </button>
        </div>
    </ng-container>

    <div class="task-detail-item" (swipeleft)="_device.isMobile()?swipeLeftHandler($event):null"
        (swiperight)="_device.isMobile()?swipeRightHandler($event):null"
        (panstart)="_device.isMobile()?panStartHandler($event):null"
        (panend)="_device.isMobile()?panEndHandler($event):null"
        (panleft)="_device.isMobile()?panLeftHandler($event):null"
        (panright)="_device.isMobile()?panRightHandler($event):null"
        (touchstart)="_device.isMobile()?touchStartHandler($event):null">
        <box class="transaction-list-item-inner">
            <box class="transaction-icon-wrapper">
                <box class="transaction-icon">
                    <ng-container *ngIf="selectedData.transactionCategory; else noPhoto">
                        <img src="./assets/transactions/{{selectedData.transactionCategory}}.svg"
                            alt="transactionCategory" />
                    </ng-container>
                    <ng-template #noPhoto>
                        <div class="name-first-letter">
                            <span
                                *ngIf="selectedData.beneName?.split(' ').length == 1">{{selectedData.beneName?.substring(0,
                                1)}}
                            </span>
                            <span
                                *ngIf="selectedData.beneName?.split(' ').length > 1 && selectedData.beneName?.split(' ').length != 1">
                                {{selectedData.beneName?.split(" ")[0]?.charAt(0)
                                +(selectedData.beneName?.split(" ")[1]?
                                selectedData.beneName?.split(" ")[1]?.charAt(0): "")}}
                            </span>
                        </div>
                    </ng-template>
                </box>
            </box>
            <box class="transaction-info">
                <box class="transaction-primary-info">
                    <span class="date">{{selectedData.paymentDate | date : "MMM dd"}}</span>
                    <span class="name">{{selectedData.beneName}}</span>
                    <span class="accountNumber">Ref# {{selectedData.paymentId}}</span>

                </box>
                <box class="transaction-secondary-info">
                    <span class="amount" [ngClass]="{
                    'credit' : selectedData.debitCreditFlag == 'C',
                    'debit' : selectedData.debitCreditFlag == 'D'
                    }">
                        <em>{{selectedData.paymentCurrency}}</em>
                        {{selectedData.paymentAmount | currency : selectedData.paymentCurrency : '' }}
                    </span>
                    <span class="paymentType">{{selectedData.serviceCodeDescription}}</span>
                </box>
            </box>
        </box>

    </div>

    <div class="task-action task-action-right">
        <!-- <button  *ngIf="!_device.isMobile()" type="button" class="button-task-action system-ico-button button-edit" clickable (click)="onClickView(selectedData)">
            <span>View</span>
        </button> -->
        <ng-container *ngIf="!_device.isMobile()">
            <button type="button" class="button-task-action system-ico-button button-share" clickable
                (click)="doShare($event, selectedData)">
                <span>Share</span>
            </button>
        </ng-container>

        <ng-container>
            <button  type="button"
                class="button-task-action system-ico-button button-repeat" clickable
                (click)="onClickRepeat($event, selectedData)">
                


                <span class="date">Repeat</span>
            </button>
            <button type="button" class="button-task-action system-ico-button button-favourite" clickable
                (click)="onClickFavourite($event, selectedData)">
                <span>{{selectedData.isFavourite == "1"? "Unfavourite": "Favourite"}}</span>
            </button>
        </ng-container>

        <!-- <ng-template #paylater>
            <button type="button" class="button-task-action system-ico-button button-favourite" clickable
                (click)="onClickFavourite($event, selectedData)">
                <span>{{selectedData.isFavourite == "1"? "Unfavourite": "Favourite"}}</span>
            </button>
        </ng-template> -->




    </div>

    <div class="seperator-line"></div>

</div>