<box class="tab-container-inner">
    <ng-container *ngIf="creditCards; else loader">
        <ng-container *ngIf="creditCards.length; else noCard">
            <ng-container *ngIf="device.isMobile(); else listView">
                <box class="carousel-view-all-wrapper">
                    <creditcard-carousel *ngIf="showCard" [summary]="creditCards" (onSelectCard)="onSelectCard($event)"></creditcard-carousel>
                    <box [ngClass]="{'hide-view-all' : creditCards.length == 1}" class="view-all-button-wrapper">
                        <button type="button" class="view-btn" (click)="viewAll()">
                            {{ 'RetailCreditCardDetails.viewAll' | translate }}
                        </button>
                    </box>
                    <app-creditcard-context-menu class="col-12 widget quick-link" [cardData]="currentCard" ></app-creditcard-context-menu>
                </box>
            </ng-container>
            <ng-template #listView>
                <ul class="debir-card-list">
                    <ng-container *ngFor="let card of creditCards">
                        <creditcard [cardData]="card" [formView]="true"></creditcard>
                        <hr />
                    </ng-container>
                </ul>
            </ng-template>
        </ng-container>
    </ng-container>

    <box class="tab-main-content">
        <!-- <box class="action-buttons">
            <box class="action-button feature">Card features</box>
            <box class="action-button detail">Card details</box>
        </box> -->

        <!-- <box class="total-limit-summary" *ngIf="currentCard">
            <box class="limit">
                <box class="total-outstanding-labl">{{ 'CCTABCONTAINER.totalOutstadingLabl' | translate }}</box>
                <box class="total-outstanding-amount">{{currentCard.outstandingAmount | currency : currentCard.currency : ''}}<em> {{currentCard.currency}}</em></box>
                <box class="available-limit">{{currentCard!.availableCreditLimit | currency : currentCard.currency : ''}}<em> {{currentCard.currency}}</em> available</box>
            </box>
            <box class="due-date-group">
                <box class="paybill-label">{{ 'CCTABCONTAINER.payBill' | translate }}</box>
                <box class="paybill-date">(Due {{currentCard!.dueDate  | date : "dd MMM" }})</box>
            </box>
        </box> -->
        <ng-container *ngIf="device.isMobile()">
            <box class="accounts-insights-container" *ngIf="chartData; else loader">
                <ng-container *ngIf="currentCard?.status?.toLowerCase() == 'blocked';else second">
                    <box class="card-info-tmplt">
                        <box class="header">Block Card</box>
                        <box class="description">The Credit Card is currently blocked. Click "Unblock Card" to make the Unblock Request</box>
                        <button class="card-info-btn" (click)="unBlockCard()">Unblock Card</button>
                    </box>
                </ng-container>
                <app-creditcard-context-menu class="col-12 widget quick-link" [cardData]="currentCard" ></app-creditcard-context-menu>
            </box>

            <box class="cc-transaction-summary">
                <app-retail-cc-transaction-summary #ccTransactionSummary></app-retail-cc-transaction-summary>
            </box>
          
        </ng-container>

        <box class="offers-widget">
            <banner-ads [serviceCode]="serviceCode"></banner-ads>
        </box>
    </box>
</box>

<!-- Content loader -->
<ng-template #loader>
    <box class="loading casa-summary-loader"></box>
</ng-template>

<ng-template #noCard>
    <box *ngIf="device.isMobile()" class="no-account-tmplt no-casa-tmplt">
        <box class="left-section">
            <span class="no-result-desc">{{ 'CCTABCONTAINER.noCreditCardTitle' | translate }}</span>
            <button type="button" class="no-result-btn" (click)="applyCreditCard()">{{ 'CCTABCONTAINER.applyBtn' | translate }}</button>
        </box>
        <box class="right-section">
            <img src="./assets/illustrations/no-cards.svg" alt="create an account" />
        </box>
    </box>
</ng-template>

<ng-template #second>
    <ng-container *ngIf="currentCard?.status?.toLowerCase() == 'inactive';else third">
        <box class="card-info-tmplt">
            <box class="header">Your card is Inactive</box>
            <box class="description">To begin using your Credit Card, Please activate it by clicking the below button.</box>
            <button class="card-info-btn" (click)="activateCard()">Activate Card</button>
        </box>
    </ng-container>
    <ng-template #third>
        <ng-container *ngIf="currentCard?.status?.toLowerCase() == 'blocked permanently';else fourth">
            <box class="card-info-tmplt">
                <box class="header">Blocked Permanently</box>
                <box class="description">This Card has been blocked, So it can't be accessed now. Please contact the bank for further assistance.</box>
            </box>
        </ng-container>
    </ng-template>
    <ng-template #fourth>
        <ng-container *ngIf="chartData; else loader">
            <ng-container *ngIf="chartData.length > 0; else fifth">
                <!-- <app-creditcard-spending-summary [chartData]="chartData" (spendDate)="getAccountsInsights($event)"></app-creditcard-spending-summary> -->
            </ng-container>
        </ng-container>
    </ng-template>
    <ng-template #fifth>
        <box class="no-insights-tmplt no-cards">
            <box class="header">
                <span class="name">{{ 'CCTABCONTAINER.noCreditCard' | translate }}</span>
            </box>
            <box class="desc">{{ 'CCTABCONTAINER.freeCard' | translate }}</box>
            <box class="benefit-points">
                <span class="benefit-desc">{{ 'CCTABCONTAINER.noJoiningFee' | translate }}</span>
                <span class="benefit-desc">{{ 'CCTABCONTAINER.fuelWaiver' | translate }}</span>
                <span class="benefit-desc">{{ 'CCTABCONTAINER.points' | translate }}Up to 2 Payback points</span>
            </box>
        </box>
    </ng-template>
</ng-template>