<fpx-ro-grid
  [tilesConfig]="gridTitles"
  [columnsArray]="columnsArray"
  [tableDatafn]="gridService"
  [title]="title"
  [toolGroupConfig]="toolGroup"
  (handleActions)="handleActions($event)"
  [gridWidth]="_gridWidth"
  [gridConfig]="gridConfig"
  [refreshGrid$]="_helper.refresh$"
  [cellNgTemplate]="cellNgTemplate"
  [cellActionArray]="cellActions"  #fpxRoGrid
  roGridName="RetailCCTransactionSummaryROGrid"
  (handleContextMenuActions)="handleContextMenuActions($event)"
  [interceptors]="interceptors"
  >
</fpx-ro-grid>
<div #loadMore></div>