<ng-container *ngIf="isPopup">
    <button type="button" class="btn-popup-close" (click)="closeContextMenu()">close</button>
</ng-container>

<box class="widget context-menu-wrapper">
    <ng-container *ngIf="cardData; else defaultHeader">
        <header> 
            <box class="account-info">
                <span class="type">{{ cardData.walletName }}</span>
                <span class="acc-number">{{ cardData.walletAccountNumber }}  </span>
            </box>
            <box class="additional-detail available">
                <span class="lbl">{{ 'CASASUMMARYCARD.available' | translate }}</span>
                <span class="amount">{{ cardData.availableBalance | currency : cardData.currency : ''}} <em>{{ cardData.currency }}</em></span>
            </box>
        </header>
    </ng-container>

    <ng-template #defaultHeader>
        <header>
            <span class="widget-title">{{ 'WIDGIT_TITLES.casaQuickActionsLbl' | translate }}</span>
        </header>
    </ng-template>
    
    <box class="context-menu-body" [ngClass]="{ 'menu-expand-view' : doShowMoreQuickActions }">
        <ng-container *ngIf="quickLinks; else quickActionsLoader">
            <ul class="actions-list grid" 
                [ngClass]="{ 'show-more' : doShowMoreQuickActions }">
                <ng-container *ngFor="let item of quickLinks">
                    <li (click)="openLink(item)" [ngClass]="{'active': activeMenu == item.serviceCode}">
                        <span class="icon-wrapper {{ item.serviceCode }}"></span>
                        <span class="text" [innerHTML]="item?.serviceDescriptionI18n?.[languageService.getLanguage()] || item.serviceDescription"></span>
                    </li>
                </ng-container>
            </ul>
        </ng-container>

        <ng-container *ngIf="!isPopup && quickLinks && quickLinks.length > appConstant.contextMenuColCount">
            <button type="button" class="expander" (click)="showMoreQuickActions()">
                <svg width="98" height="18" viewBox="0 0 98 18" fill="white" xmlns="http://www.w3.org/2000/svg">
                    <g id="Drawer">
                        <path id="Vector 84"
                            d="M49.7241 18C36.0114 18 39.1635 10.3442 -7.83324e-07 0.0796452C27.9065 0.0796439 104.115 -0.418143 97.6077 1.07522C62.3692 9.16225 62.2015 18 49.7241 18Z"
                            />
                    </g>
                </svg>
                <span>show more</span>
            </button>
        </ng-container>

    </box>
</box>

<ng-template #quickActionsLoader>
    <box class="quick-actions-loader">
        <ul>
            <li>
                <span class="icon">&nbsp;</span>
                <span class="text">&nbsp;</span>
            </li>
            <li>
                <span class="icon">&nbsp;</span>
                <span class="text">&nbsp;</span>
            </li>
            <li>
                <span class="icon">&nbsp;</span>
                <span class="text">&nbsp;</span>
            </li>
        </ul>
    </box>
</ng-template>