<form [formGroup]="formGroup" (ngSubmit)="submit()" autocomplete="off" formName="RetailUserrestrictionreqForm">

	<box class="entry-form">
		<box class="grid entry-form-field-group col-12">

		<app-name-control class="col-sm-12 col-md-6 col-lg-6" [actionPublisher]="actionMap$.get('firstName')"
			label="{{'RetailUserrestrictionreqForm.firstName.label' | translate }}"
			formControlName="firstName"></app-name-control>


		<app-name-control class="col-sm-12 col-md-6 col-lg-6" [actionPublisher]="actionMap$.get('middleName')"
			label="{{'RetailUserrestrictionreqForm.middleName.label' | translate }}"
			formControlName="middleName"></app-name-control>


		<app-name-control class="col-sm-12 col-md-6 col-lg-6" [actionPublisher]="actionMap$.get('lastName')"
			label="{{'RetailUserrestrictionreqForm.lastName.label' | translate }}"
			formControlName="lastName"></app-name-control>


		<app-mobile-number-control class="col-sm-12 col-md-6 col-lg-6"
			[actionPublisher]="actionMap$.get('mobileNumber')"
			label="{{'RetailUserrestrictionreqForm.mobileNumber.label' | translate }}"
			formControlName="mobileNumber"></app-mobile-number-control>


		<app-email-control class="col-sm-12 col-md-6 col-lg-6" [actionPublisher]="actionMap$.get('emailAddress')"
			label="{{'RetailUserrestrictionreqForm.emailAddress.label' | translate }}"
			formControlName="emailAddress"></app-email-control>


		<app-delegate-username-control class="col-sm-12 col-md-6 col-lg-6"
			[actionPublisher]="actionMap$.get('userName')"
			label="{{'RetailUserrestrictionreqForm.userName.label' | translate }}" formControlName="userName"
			[changePublisher]="formChangePublisher$"
			(commonControlEvent)="handleControlEvent($event)"></app-delegate-username-control>


		<app-nationality-control class="col-sm-12 col-md-6 col-lg-6" [actionPublisher]="actionMap$.get('nationality')"
			label="{{'RetailUserrestrictionreqForm.nationality.label' | translate }}"
			formControlName="nationality"></app-nationality-control>


		<app-remarks-control class="col-sm-12 col-md-6 col-lg-6" [actionPublisher]="actionMap$.get('remarks')"
			label="{{'RetailUserrestrictionreqForm.remarks.label' | translate }}"
			formControlName="remarks"></app-remarks-control>

			<app-account-restriction-control class="col-sm-12 col-md-6 col-lg-6" [actionPublisher]="actionMap$.get('accessLevel')"
			label="{{'RetailUserrestrictionreqForm.accessLevel.label' | translate }}"
			formControlName="accessLevel"></app-account-restriction-control>
			</box>
			
			
	</box>
</form>