 
	  #categoryCode {        text-align: left !important;       }
	  #pfmSubCategory {        text-align: left !important;       }
	  #currencyCode {        text-align: left !important;       }
	  #amount {        text-align: left !important;       }
	  #startDate {        text-align: left !important;       }
	  #frequency {        text-align: left !important;       }
 
    
