<box class="grid">
    <box class="assets-breakdown-section col-lg-6">
        <app-assets-breakdown-widget></app-assets-breakdown-widget>
    </box>
    <box class="cash-flow-section col-lg-6">
        <app-cash-flow></app-cash-flow>
    </box>
    <box class="expense-categories-section col-lg-12">
        <app-expense-categories-carousel></app-expense-categories-carousel>
    </box>
    <box class="upcoming-payments-widget-container col-lg-12">
        <app-upcoming-payments-widget></app-upcoming-payments-widget>
    </box>
</box>