 
	  #externalReferenceNumber {        text-align: left !important;       }
	  #paymentDate {        text-align: left !important;       }
	  #transactionAmount {        text-align: left !important;       }
	  #transactioncategory {        text-align: left !important;       }
	  #categoryCode {        text-align: left !important;       }
 
    
