<form [formGroup]="formGroup" (ngSubmit)="submit()" autocomplete="off" formName="RetailIndividualDDReqInfoForm" >
	  
	<box class="entry-form">
		<box class="grid entry-form-field-group col-lg-12">
			<div class="payment-container">
				<h2>Payment Information</h2>
				<p>
				  The Canada Revenue Agency (CRA) will deposit the refunds and payments you're eligible for in your account, including:
				</p>
				
				<ul>
				  <li>Income tax refunds</li>
				  <li>Goods and Services tax credit, Harmonized sales tax credit and any similar provincial or territorial payments</li>
				  <li>Canada child benefit and any similar provincial or territorial payments</li>
				  <li>Canada workers benefit</li>
				  <li>Deemed overpayment of tax</li>
				</ul>
			  
				<p>You only need to register once to receive any type of refund or payment.</p>
			  
				<p class="note">
				  If you did not file a tax return for the past two full tax years you cannot set up CRA direct deposit here and should contact the CRA directly at <a href="tel:18009588321">1-800-959-8321</a>. You can also call this number to change the contact information you provided to the CRA or to deregister from direct deposit.
				</p>
			  </div>
	</box>
	
	</box> 
</form>
	
