<!-- <div class="fpx-form-control password-control">
  <fpx-label [label]="label" [control]="formControl"></fpx-label>
  <div class="pass-action fpx-field-content">
    <input [type]="passwordType" [placeholder]="placeholder" [name]="formControlName" [formControl]="formControl" />
    <ng-container *ngIf="passwordType === 'text'; else password">
      <mat-icon (click)="passwordType = 'password'" matSuffix  >visibility</mat-icon>
    </ng-container>
    <ng-template #password>
      <mat-icon (click)="passwordType = 'text'" matSuffix >visibility_off</mat-icon>
    </ng-template>
  </div>
</div> -->



<fpx-password class="fpx-form-control" #fpxControl [controlName]="formControlName" [placeholder]="placeholder"
  [label]="label" [visiblityChange]="visiblityChange" [autoComplete]="autoComplete" [maxlength]="maxLength">
</fpx-password>