 
	  #accountType {        text-align: left !important;       }
	  #productCode {        text-align: left !important;       }
	  #accountName {        text-align: left !important;       }
	  #openingBranch {        text-align: left !important;       }
	  #accountCurrency {        text-align: left !important;       }
	  #email {        text-align: left !important;       }
	  #mobileNumber {        text-align: left !important;       }
	  #debitAccountNumber {        text-align: left !important;       }
	  #initialDepositAmount {        text-align: left !important;       }
	  #authPersonId {        text-align: left !important;       }
	  #authPersonName {        text-align: left !important;       }
	  #chargesAmount {        text-align: left !important;       }
	  #remarks {        text-align: left !important;       }
	  #addressDetails {        text-align: left !important;       }
 
    
