<div class="task-item" id="row_data_{{ index }}" [ngClass]="{'task-completed':selectedData.status == '3'}">
    <box class="transaction-list-item-inner">
        <box class="transaction-icon-wrapper">
            <box class="transaction-icon">
                <ng-container *ngIf="selectedData.transactionCategory; else noPhoto">
                    <img src="./assets/transactions/{{selectedData.transactionCategory}}.svg"
                        alt="transactionCategory" />
                </ng-container>
                <ng-template #noPhoto>
                    <div class="name-first-letter">
                        <span
                            *ngIf="selectedData.beneName?.split(' ').length == 1">{{selectedData.beneName?.substring(0,
                            1)}}
                        </span>
                        <span
                            *ngIf="selectedData.beneName?.split(' ').length > 1 && selectedData.beneName?.split(' ').length != 1">
                            {{selectedData.beneName?.split(" ")[0]?.charAt(0)
                            +(selectedData.beneName?.split(" ")[1]?
                            selectedData.beneName?.split(" ")[1]?.charAt(0): "")}}
                        </span>
                    </div>
                </ng-template>
            </box>
        </box>
        <box class="transaction-info">
            <box class="transaction-primary-info">
                <span class="date">Authorization Left - {{selectedData.pendingCount}}</span>
                <span class="name">{{selectedData.initBy}}</span>
                <span class="accountNumber">A/c - {{selectedData.workflowAccNum }}</span>
                <span class="accountNumber requestReference">Ref# {{selectedData.requestReference}}</span>

            </box>
            <box class="transaction-secondary-info">
                <span class="pending-since"><span>{{selectedData.pendingSince}}</span></span>
                <span class="amount">{{selectedData.workflowAmt | currency : _appConfig.baseCurrency : ''}}
                    <em>{{_appConfig.baseCurrency}}</em>
                </span>
                <span class="type">{{selectedData.serviceName}}</span>
            </box>
        </box>
    </box>
    
</div>