 
	  #cardRefNumber {        text-align: left !important;       }
	  #primaryCardAccNo {        text-align: left !important;       }
	  #cardType {        text-align: left !important;       }
	  #validThru {        text-align: left !important;       }
	  #issueDate {        text-align: left !important;       }
	  #branchDesc {        text-align: left !important;       }
	  #currency {        text-align: left !important;       }
	  #overdueAmount {        text-align: left !important;       }
	  #outstandingAmount {        text-align: left !important;       }
	  #lastPaymentReceived {        text-align: left !important;       }
	  #FieldId_1 {        font-family: sans-serif !important; font-size: 12px !important; color: #555 !important; font-style: normal !important; text-align: left !important;       }
	  #FieldId_3 {        font-family: sans-serif !important; font-size: 12px !important; color: #555 !important; font-style: normal !important; text-align: left !important;       }
 
    
