<form [formGroup]="formGroup" (ngSubmit)="submit()" autocomplete="off" formName="RetailManageEtransferContactlogForm">
    <box class="grid transaction-container">
        <box class="transactions-stmt-grid-wrapper col-12">
            <box *ngIf="!_helper._device.isMobile()" class="view-scheduled-bills-form">
                <box class="back-wrapper">
                    <box class="back-btn" (click)="_helper.backToeTransfers()">
                        <span class="ico ico-back"></span>
                        <span class="back-text font-14-20">{{'RetailManageEtransferContactlog.header.backToeTransfers' |
                            translate}}</span>
                    </box>
                </box>
                <box class="schedule-bill-form">
                    <box class="schedule-bill-form-header">
                        {{'RetailScheduleEtransferDisplayGrid.title' | translate}}
                    </box>
                </box>
            </box>
            <ng-container *ngIf="state.isDataReceived; else loader">
                <ng-container *ngIf="state.gridData && state.gridData?.length; else noTransfers">
                    <box class="nav-search-control">
                        <span class="ico ico-nav-search"></span>
                        <input type="text" formControlName="searchText"
                            placeholder="Search contacts by name, email, or mobile number." />
                    </box>
                    <ng-container [ngTemplateOutlet]="noTransfers" *ngIf="this.state.searchDataFound<1"></ng-container>
                </ng-container>
            </ng-container>
            <app-retail-schedule-etransfer-display-grid [actionPublisher]="actionMap$.get('etransferScheduledGrid')"
                (commonRoGridEvent)="_helper.handleETransfersHistoryGridEvent($event)"></app-retail-schedule-etransfer-display-grid>

        </box>
    </box>
</form>

<ng-template #loader>
    <box class="loading"></box>
</ng-template>

<ng-template #noTransfers>
    <box class="no-result-view">
        <box class="no-result-image-wrapper">
            <img class="no-result-image"
                src="./assets/tenant-config/10001/skins/images/illustration/no-schedule-transfer.svg" alt="">
        </box>
        <box class="no-result-title">{{ 'ETransferHistoryForm.header' | translate }}</box>
        <box class="no-result-desc">{{ 'ETransferHistoryForm.noTransfer' | translate }}</box>
    </box>
</ng-template>