<form [formGroup]="formGroup" (ngSubmit)="submit()" autocomplete="off" formName="RetailChangePasswordForm">

	<box class="entry-form">
		<box class="passowrd-group entry-form-field-group col-lg-12">
			<box class="password-entry col-lg-6">
				<app-Applicant-Password-control class="col-sm-12 col-md-6 col-lg-12"
					[actionPublisher]="actionMap$.get('currentPass')"
					label="{{'RetailChangePasswordForm.currentPass.label' | translate }}"
					formControlName="currentPass"></app-Applicant-Password-control>
	
	
				<app-Applicant-Password-control class="col-sm-12 col-md-6 col-lg-12"
					[actionPublisher]="actionMap$.get('newPass')"
					label="{{'RetailChangePasswordForm.newPass.label' | translate }}"
					formControlName="newPass"></app-Applicant-Password-control>
	
	
				<app-Applicant-Password-control class="col-sm-12 col-md-6 col-lg-12"
					[actionPublisher]="actionMap$.get('confirmPass')"
					label="{{'RetailChangePasswordForm.confirmPass.label' | translate }}"
					formControlName="confirmPass"></app-Applicant-Password-control>
			</box>
	
			<box class="profile-rule col-lg-6">
	
				<fpx-display-text id="sample2" class="col-md-4  rule" [ngClass]="{ valid: state.lengthValid }"
					[innerHTML]="'CobApplicantProfileForm.sample2.text' | translate"
					[literals]="commonFormInput"></fpx-display-text>
	
				<fpx-display-text id="sample3" class="col-md-4  rule" [ngClass]="{ valid: state.space }"
					[innerHTML]="'CobApplicantProfileForm.sample3.text' | translate"
					[literals]="commonFormInput"></fpx-display-text>
	
				<fpx-display-text id="sample4" class="col-md-4  rule" [ngClass]="{ valid: state.sequenceValid }"
					[innerHTML]="'CobApplicantProfileForm.sample4.text' | translate"
					[literals]="commonFormInput"></fpx-display-text>
	
				<fpx-display-text id="sample5" class="col-md-4  rule" [ngClass]="{ valid: state.mustContainLetters }"
					[innerHTML]="'CobApplicantProfileForm.sample5.text' | translate"
					[literals]="commonFormInput"></fpx-display-text>
			</box>
		</box>
		

		<box id="disclaimer-box" class="col-sm-12 col-md-6 col-lg-12 grid  disclaimer-box  ">
			<fpx-display-text id="sample1" class="col-md-4" [ngClass]="{ valid: state.lengthValid }"
				[innerHTML]="'CobApplicantProfileForm.sample1.text' | translate"
				[literals]="commonFormInput"></fpx-display-text>
		</box>
	</box>
</form>