<ng-container *ngIf="_device.isMobile(); else desktopMenu">
  <box class="widget quick-actions-inner context-menu-wrapper interac-context-menu">
    <header>
      <span class="widget-title">{{ 'WIDGIT_TITLES.etransfersContextMenuTitle' | translate }}</span>
    </header>
    <box class="actions-body">

      <ng-container *ngIf="quickLinks">
        <ul class="actions-list grid transfers-quick-links" >
          <ng-container *ngFor="let menu of quickLinks">
            <li [class]="'ql-' + menu.serviceCode" [ngClass]="{'active': _activeMenu == menu.serviceCode}"
              (click)="openContextMenu(menu)">
              <span class="icon-wrapper"></span>
              <span class="text" [innerHTML]="menu.serviceDescription || menu.name"></span>
            </li>
          </ng-container>
        </ul>
      </ng-container>

    </box>
  </box>
</ng-container>
<ng-template #desktopMenu>
  <box class="context-menu-body tab" *ngIf="quickLinks?.length > 0; else quickActionsLoader"
    [style.max-width.px]="sliderWidth">
    <box class="actions-list">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <box ngxSlickItem class="slide" [ngClass]="{ active: activeMenu == item.serviceCode }"
          *ngFor="let item of quickLinks" (click)="openLink(item)">
          <box class="item">
            <!-- <span class="icon-wrapper {{ item.serviceCode }}"></span> -->
            <span class="text"
              [innerHTML]="item?.serviceDescriptionI18n?.[languageService.getLanguage()] || item.serviceDescription"></span>
          </box>
        </box>
      </ngx-slick-carousel>
    </box>
  </box>
</ng-template>

  
  
  <ng-template #quickActionsLoader>
    <box class="quick-actions-loader">
      <ul>
        <li>
          <span class="text">&nbsp;</span>
        </li>
        <li>
          <span class="text">&nbsp;</span>
        </li>
        <li>
          <span class="text">&nbsp;</span>
        </li>
      </ul>
    </box>
  </ng-template>
  