<form [formGroup]="formGroup" (ngSubmit)="submit()" autocomplete="off" formName="CobResumebackForm">

	<box class="entry-form">


		<fpx-display-text id="header" class="col-md-4  header" [innerHTML]="'CobResumebackForm.header.text' | translate"
			[literals]="commonFormInput"></fpx-display-text>


		<app-resume-option-control class="col-sm-12 col-md-6 col-lg-12"
			[actionPublisher]="actionMap$.get('resumeOption')"
			label="{{'CobResumebackForm.resumeOption.label' | translate }}"
			formControlName="resumeOption"></app-resume-option-control>


		<app-onboardingreference-control class="col-sm-12 col-md-6 col-lg-12"
			[actionPublisher]="actionMap$.get('onboardingRef')"
			label="{{'CobResumebackForm.onboardingRef.label' | translate }}"
			formControlName="onboardingRef"></app-onboardingreference-control>


		<app-applicant-mobile-control class="col-sm-12 col-md-6 col-lg-12"
			[actionPublisher]="actionMap$.get('mobileNumber')"
			label="{{'CobResumebackForm.mobileNumber.label' | translate }}"
			formControlName="mobileNumber"></app-applicant-mobile-control>


		<app-applicant-email-component class="col-sm-12 col-md-6 col-lg-12"
			[actionPublisher]="actionMap$.get('emailAddress')"
			label="{{'CobResumebackForm.emailAddress.label' | translate }}"
			formControlName="emailAddress"></app-applicant-email-component>
	</box>

	<box class="entry-form">
		<fpx-display-text class="error-txt" [innerHTML]="state.formErrorMessage"></fpx-display-text>
	</box>
</form>