 
	  #resumeOption {        text-align: left !important;       }
	  #onboardingRef {        text-align: left !important;       }
	  #mobileNumber {        text-align: left !important;       }
	  #emailAddress {        text-align: left !important;       }
 #header{
    color: var(--Neutral-900, #2D2D2D);
text-align: center;
font-family: "Helvetica Neue";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 30px; 
}
 
    
