 
	  #date {        text-align: left !important;       }
	  #addressedTo {        text-align: left !important;       }
	  #chargesAmount {        text-align: left !important;       }
	  #Reason {        text-align: left !important;       }
	  #otherReason {        text-align: left !important;       }
	  #termsFlag {        text-align: right !important;       }
 
    
