 
	  #cardLimit {        text-align: left !important;       }
	  #remarks {        text-align: left !important;       }
	  #tcFlag {        text-align: left !important;       }
	  #FieldId_2 {        font-family: sans-serif !important; font-size: 12px !important; color: #555 !important; font-style: normal !important; text-align: left !important;       }
 
    
