<form
  [formGroup]="formGroup"
  (ngSubmit)="submit()"
  autocomplete="off"
  formName="RetailPayInsurance"
>
  <box class="entry-form">
    <ng-container *ngIf="state.cardData">
      <!-- <debitcard class="col-12" [cardData]="state.cardData"></debitcard> -->
    </ng-container>
    <box class="grid entry-form-field-group col-12">
      <div>
        <span class="policy-title">{{ 'RetailPayInsurance.policyInformationLbl' | translate }}</span>
      </div>
      <app-payment-amount-control
        class="col-sm-12 col-md-6 col-lg-12"
        [actionPublisher]="actionMap$.get('paymentAmount')"
        label="{{ 'RetailPayInsurance.paymentAmount.label' | translate }}"
        placeholder="{{
          'RetailPayInsurance.paymentAmount.placeholder' | translate
        }}"
        formControlName="paymentAmount"
        (commonControlEvent)="handleControlEvent($event)"
        [CurrencyList]="state.paymentAmount.CurrencyList"
        [isCurrEditable]="state.paymentAmount.isCurrEditable"
        [defaultFetch]="state.paymentAmount.defaultFetch"
        [initCurrency]="state.paymentAmount.initCurrency"
        [amountInWords]="state.paymentAmount.amountInWords"
        [changePublisher]="formChangePublisher$"
        [dependencyField]="[
          'fromCurrencyVariable',
          'toCurrencyVariable',
          'accountBalanceVariable'
        ]"
      >
      </app-payment-amount-control>

      <app-payment-date-control
        class="col-sm-12 col-md-6 col-lg-12"
        [actionPublisher]="actionMap$.get('[paymentDate]')"
        label="{{ 'RetailPayInsurance.paymentDate.label' | translate }}"
        formControlName="paymentDate"
        [minDate]="state.paymentDate.minDate"
        [maxDate]="state.paymentDate.maxDate"
      >
      </app-payment-date-control>

    <div class="policy-link">
			<button type="button" (click)="_helper.onOpenClick()"> {{'RetailPayInsurance.openLink' | translate }}
			</button>
		</div>
    </box>
    <box class="grid entry-form-field-group col-12">
      <app-retail-payment-method-radio
        class="col-sm-12 col-md-6 col-lg-12"
        [actionPublisher]="actionMap$.get('paymentMethod')"
        label="{{ 'RetailPayInsurance.paymentMethod.label' | translate }}"
        formControlName="paymentMethod"
        [actionPublisher]="actionMap$.get('paymentMethod')"
      >
      </app-retail-payment-method-radio>

      <app-creditcard-dtl-list-control
        class="col-sm-12 col-md-6 col-lg-6"
        [selectableDataList]="state.creditcards"
        formControlName="creditcardRefNum"
        [actionPublisher]="actionMap$.get('creditcardRefNum')"
        label="{{ 'RetailPayInsurance.creditcardRefNum.label' | translate }}"
        placeholder="{{
          'RetailPayInsurance.creditcardRefNum.placeholder' | translate
        }}"creditcardRefNum
        (commonControlEvent)="handleControlEvent($event)"
      >
      </app-creditcard-dtl-list-control>

      <!-- <app-debitcard-dtl-list-control
        class="col-sm-12 col-md-6 col-lg-6"
        formControlName="debitcardRefNum"
        [selectableDataList]="state.debitcards"
        label="{{ 'RetailPayInsurance.debitcardRefNum.label' | translate }}"
        placeholder="{{
          'RetailPayInsurance.debitcardRefNum.placeholder' | translate
        }}"
        (commonControlEvent)="handleControlEvent($event)"
        [actionPublisher]="actionMap$.get('debitcardRefNum')"
      >
      </app-debitcard-dtl-list-control> -->

      <app-wallet-account-number-dropdown-control
        class="col-sm-12 col-md-6 col-lg-12"
        [actionPublisher]="actionMap$.get('walletId')"
        label="{{ 'RetailPayInsurance.walletId.label' | translate }}"
        placeholder="{{
          'RetailPayInsurance.walletId.placeholder' | translate
        }}"
        formControlName="walletId"
        (commonControlEvent)="handleControlEvent($event)"
      >
      </app-wallet-account-number-dropdown-control>

      <app-account-list-template-control
        class="col-sm-12 col-md-6 col-lg-12"
        [actionPublisher]="actionMap$.get('accountNum')"
        formControlName="accountNum"
        label="{{ 'RetailPayInsurance.accountNum.label' | translate }}"
        placeholder="{{
          'RetailPayInsurance.accountNum.placeholder' | translate
        }}"
        (commonControlEvent)="handleControlEvent($event)"
      >
      </app-account-list-template-control>

      <box
        class="field-item col-sm-12 col-md-12 col-lg-12"
        [actionPublisher]="actionMap$.get('exchangeDetails')"
      >
        <fpx-label label="{{ 'FX_RATES.title' | translate }}"></fpx-label>
        <box class="info-box">
          <box class="info-field">
            <fpx-display-text
              class="info-field-label"
              [innerHTML]="'FX_RATES.dAmount' | translate"
              [literals]="commonFormInput"
            ></fpx-display-text>
            <fpx-display-text
              class="info-field-value"
              [innerHTML]="state.exchangeDetails.debitAmount"
              [literals]="commonFormInput"
            ></fpx-display-text>
          </box>
          <box class="info-field">
            <fpx-display-text
              class="info-field-label"
              [innerHTML]="'FX_RATES.cAmount' | translate"
              [literals]="commonFormInput"
            ></fpx-display-text>
            <fpx-display-text
              class="info-field-value"
              [innerHTML]="state.exchangeDetails.creditAmount"
              [literals]="commonFormInput"
            ></fpx-display-text>
          </box>
          <box class="info-field">
            <fpx-display-text
              class="info-field-label"
              [innerHTML]="'FX_RATES.exRate' | translate"
              [literals]="commonFormInput"
            ></fpx-display-text>
            <fpx-display-text
              class="info-field-value"
              [innerHTML]="state.exchangeDetails.exchangeRate"
              [literals]="commonFormInput"
            ></fpx-display-text>
          </box>
        </box>
      </box>

      <app-retail-autopay-control
        class="col-sm-12 col-md-6 col-lg-12"
        [actionPublisher]="actionMap$.get('autoPay')"
        label="{{ 'RetailPayInsurance.autoPay.label' | translate }}"
        formControlName="autoPay"
        (commonControlEvent)="handleControlEvent($event)"
      ></app-retail-autopay-control>

      <app-charges-borne-control
        class="col-sm-12 col-md-6 col-lg-12"
        [actionPublisher]="actionMap$.get('chargesBorneBy')"
        label="{{ 'RetailPayInsurance.chargesBorneBy.label' | translate }}"
        formControlName="chargesBorneBy"
        [changePublisher]="formChangePublisher$"
        (commonControlEvent)="handleControlEvent($event)"
        [dependencyField]="[
          'paymentAmountVariable',
          'fromCurrencyVariable',
          'fromAccountVariable',
          'toAccountVariable',
          'accountBalanceVariable',
          'debitAmountVariable'
        ]"
      ></app-charges-borne-control>

      <app-charges-control
        class="col-sm-12 col-md-6 col-lg-12"
        [actionPublisher]="actionMap$.get('chargesAmount')"
        label="{{ 'RetailPayInsurance.chargesAmount.label' | translate }}"
        formControlName="chargesAmount"
        (commonControlEvent)="handleControlEvent($event)"
        [CurrencyList]="state.chargesAmount.CurrencyList"
        [isCurrEditable]="state.chargesAmount.isCurrEditable"
        [defaultFetch]="state.chargesAmount.defaultFetch"
        [initCurrency]="state.chargesAmount.initCurrency"
        [amountInWords]="state.chargesAmount.amountInWords"
        [changePublisher]="formChangePublisher$"
      ></app-charges-control>
    </box>

    <box id="disclaimer-box" class="col-md-12 grid disclaimer-box">
      <app-terms-control
        class="col-sm-12 col-md-12 col-lg-12"
        [actionPublisher]="actionMap$.get('termsFlag')"
        label="{{ 'RetailPayInsurance.termsFlag.label' | translate }}"
        formControlName="termsFlag"
        [textPosition]="state.termsFlag.textPosition"
        [ckValues]="state.termsFlag.ckValues"
      >
      </app-terms-control>
    </box>
  </box>
</form>
