<box class="grid transaction-container">
    <box class="casa-transactions-grid-wrapper col-12">
        <box class="casa-transactions-grid-header">
            <span class="title">{{ 'CASATRANSACTIONSDTLSGRID.title' | translate }}</span>
            <box class="tool-bar">
                <button
                    *ngIf="_viewLoanTransactionFormHelper.showClearButton && !_viewLoanTransactionFormHelper.deviceDetectorService.isMobile()"
                    class="clear-filter" (click)="_viewLoanTransactionFormHelper.clearFilter()">Clear Filter</button>
                <fpx-button btnType="button" btnClass="system-ico-button no-text filter" label="filter"
                    [ngClass]="{'active-filter' : _viewLoanTransactionFormHelper.showClearButton}"
                    (onClick)="_viewLoanTransactionFormHelper.filter()"></fpx-button>
                <fpx-button btnType="button" btnClass="system-ico-button no-text download" label="download"
                    (onClick)="_viewLoanTransactionFormHelper.onDownloadClick(null)"></fpx-button>
            </box>
        </box>

        <box class="mobile-clear-filter"
            *ngIf="_viewLoanTransactionFormHelper.showClearButton && _viewLoanTransactionFormHelper.deviceDetectorService.isMobile()">
            <button class="clear-filter" (click)="_viewLoanTransactionFormHelper.clearFilter()">Clear Filter</button>
        </box>


        <app-retail-loan-transaction-dtls-ro-grid [actionPublisher]="state.transactionsListRoGrid"
            (commonRoGridEvent)="_helper.loanTransactionGridEvent($event)"></app-retail-loan-transaction-dtls-ro-grid>
    </box>

    <ng-container *ngIf="_helper.loanTransactionApiReceived && (_helper.totalRecordCount == 0 || _helper.totalRecordCount == null)">
        <box class="no-data-view">
            <img class="no-result-image" src="./assets/images/transfers/no-schedule-transfer.svg" alt="no transactions available">
            <box class="no-data-desc">
                <ng-container *ngIf="!(this.state.formValues?.fromDate || this.state.formValues?.toDate); else dateFilter">
                    {{ 'viewLoanTransactionForm.noTransfer' | translate }}
                </ng-container>
                <ng-template  #dateFilter>
                    {{ 'viewLoanTransactionForm.noTransfer1' | translate }}
                </ng-template>
            </box>    
        </box>
    </ng-container>
    <!-- <ng-template #dataError>
        <box class="no-data-view">
            <img class="no-result-image" src="./assets/images/transfers/no-schedule-transfer.svg" alt="no transactions available">
            <box class="no-data-desc">
                <ng-container>
                    {{ 'viewLoanTransactionForm.transactionDataError' | translate }}
                </ng-container>
                
            </box>    
        </box>
    </ng-template> -->
</box>
