<form [formGroup]="formGroup" (ngSubmit)="submit()" autocomplete="off" formName="RetailBusinessDDReqForm" >
	  
	<box class="entry-form">
	     
		<box class="grid entry-form-field-group col-lg-12">
			  <app-name-control  class="col-md-12 col-lg-6 col-sm-12"   [actionPublisher]="actionMap$.get('companyName')"     label="{{'RetailBusinessDDReqForm.companyName.label' | translate }}"   formControlName="companyName" 
     ></app-name-control>
	     
	      
			  <app-business-number-control  class="col-md-12 col-lg-6 col-sm-12"   [actionPublisher]="actionMap$.get('businessNumber')"     label="{{'RetailBusinessDDReqForm.businessNumber.label' | translate }}"   formControlName="businessNumber" 
   ></app-business-number-control>
  
	      
			  <app-account-number-list-control  class="col-md-12 col-lg-6 col-sm-12"   [actionPublisher]="actionMap$.get('accountNumber')"     label="{{'RetailBusinessDDReqForm.accountNumber.label' | translate }}"   formControlName="accountNumber" 
     ></app-account-number-list-control>
	     
	      
			  <app-app-sin-control  class="col-md-12 col-lg-6 col-sm-12"   [actionPublisher]="actionMap$.get('socialInsuranceNum')"     label="{{'RetailBusinessDDReqForm.socialInsuranceNum.label' | translate }}"   formControlName="socialInsuranceNum" 
   ></app-app-sin-control>
	     
	      
			  <app-name-control  class="col-md-12 col-lg-6 col-sm-12"   [actionPublisher]="actionMap$.get('firstName')"     label="{{'RetailBusinessDDReqForm.firstName.label' | translate }}"   formControlName="firstName" 
     ></app-name-control>
	     
	      
			  <app-name-control  class="col-md-12 col-lg-6 col-sm-12"   [actionPublisher]="actionMap$.get('lastName')"     label="{{'RetailBusinessDDReqForm.lastName.label' | translate }}"   formControlName="lastName" 
     ></app-name-control>
	     
	      
			  <app-date-of-birth-control  class="col-md-12 col-lg-6 col-sm-12"   [actionPublisher]="actionMap$.get('dob')"     label="{{'RetailBusinessDDReqForm.dob.label' | translate }}"   formControlName="dob" 
   [minDate]="state.dob.minDate"   [maxDate]="state.dob.maxDate"  ></app-date-of-birth-control>
	     
<!-- 	      
			  <app-amount-currency-control  class="col-md-12 col-lg-6 col-sm-12"   [actionPublisher]="actionMap$.get('amount')"     label="{{'RetailBusinessDDReqForm.amount.label' | translate }}"   formControlName="amount" 
   [CurrencyList]="state.amount.CurrencyList" [isCurrEditable]="state.amount.isCurrEditable"  [defaultFetch]="state.amount.defaultFetch" [initCurrency]="state.amount.initCurrency" [amountInWords]="state.amount.amountInWords">  ></app-amount-currency-control> -->


   <box class="info-field">
	<fpx-display-text class="info-field-label" [innerHTML]="'RetailBusinessDDReqForm.text' | translate"
		[literals]="commonFormInput"></fpx-display-text>
		</box>
		
		<fpx-display-text class="info-field-label" [innerHTML]="'RetailBusinessDDReqForm.text1' | translate"
		[literals]="commonFormInput"></fpx-display-text>

	
</box>
<box id="group_disclaimer-box" class="col-sm-12 col-md-6 col-lg-6 grid main-group disclaimer-box">
	<app-terms-control class="col-sm-12 col-md-6 col-lg-6" [actionPublisher]="actionMap$.get('terms')"
		label="{{ 'RetailBusinessDDReqForm.terms.label' | translate }}" formControlName="terms"
		[textPosition]="state.terms.textPosition" [ckValues]="state.terms.ckValues"></app-terms-control>
</box>
</box> 
</form>
	
