<ng-container >
    <box class="confirmation-receipt-inner success {{ result?.statusCode?.toLowerCase() }}" >
        <box class="confirmation-body">
            <ng-container *ngIf="result.statusCode == 'failure'; else success">
                <box class="status-container">
                    <box class="status-ico-wrapper">
                        <span class="status-ico"></span>
                    </box>
                    <span class="confirmation-message">
                        {{ 'serviceRequestConfirmationReceipt.defaultErrorMessage' | translate }}</span>
                </box>

                <box class="message-container">
                    <span class="confirmation-description">{{ 'serviceRequestConfirmationReceipt.defaultErrorDescription' | translate }}</span>
                </box>
            </ng-container>

            <ng-template #success>
                <box class="status-container">
                    <box class="status-ico-wrapper">
                        <span class="status-ico"></span>
                    </box>
                    <span class="confirmation-message">{{ result.requestPayload.errorCode || _requestServiceCode + '.' + _requestStatus + ".message" | translate }}</span>
                </box>
                <box class="message-container">
                    <span class="confirmation-description">{{ result.requestPayload.errorMessage || _requestServiceCode + '.' + _requestStatus + ".description" | translate }}</span>
                </box>
                <box class="service-request-note">
                    <span class="confirmation-description">{{ result.requestPayload.errorMessage || _requestServiceCode + '.' + _requestStatus + ".note" | translate }}</span>
                    <br>
                    <span class="service-request-note1 confirmation-description">{{ result.requestPayload.errorMessage || _requestServiceCode + '.' + _requestStatus + ".note1" | translate }}</span>
                </box>
            </ng-template>
    
            <ng-container *ngIf="result?.additionalInfo && result?.additionalInfo.length">
                <hr />
                <box class="additional-details-container">
                    <ng-container *ngFor="let detail of result?.additionalInfo">
                        <box class="details">
                            <span class="detail-lbl">{{ 'confirmationReceiptForm.' + detail.label | translate }}</span>
                            <span class="detail-val">
                                 <ng-container [ngSwitch]="detail.format">
                                    <ng-container *ngSwitchCase="'date'">
                                        {{ detail.value | date : "dd MMM YYYY, hh:mm:ss" }}
                                    </ng-container>
                                    <ng-container *ngSwitchDefault>
                                        {{ detail.value }}
                                    </ng-container>
                                </ng-container> 
                                
                            </span>
                        </box>
                    </ng-container>
                </box>
            </ng-container>
        </box>

        <box class="confirmation-footer">
            <!-- <button type="button" class="secondary" (click)="gotoModule('service-request-space')"><span>{{ 'confirmationReceiptForm.download' | translate }}</span></button> -->
            <button type="button" class="primary" (click)="gotoHome()"><span>{{ 'confirmationReceiptForm.done' | translate }}</span></button>
        </box>
    </box>

</ng-container>
