<form formName="SSLCertificateError" [autocomplete]="'off'" [formGroup]="formGroup">
    <box class="ssl-certificate-error-box">
        <box class="ssl-certificate-error-wrapper">
        <!-- <box class="bad-gateway-image">
            <img class="image" src="./assets/images/503-error.svg" />
        </box> -->
        <box class="content">
            <span class="label-tag">{{ "SSLCertificateError.label" | translate }}</span>
            <span class="label">{{ "SSLCertificateError.message" | translate }}</span>
        </box>
    </box>
    </box>
</form>



        



