<form [formGroup]="formGroup" (ngSubmit)="submit()" autocomplete="off" formName="RetailSelfRegisterForm">

	<box class="entry-form">

		<!-- <app-identification-mode-control  class="col-md-3"   [actionPublisher]="actionMap$.get('identificationMode')"     label="{{'RetailSelfRegisterForm.identificationMode.label' | translate }}"   formControlName="identificationMode" 
     ></app-identification-mode-control>
			  <app-date-of-birth-control  class="col-md-4"   [actionPublisher]="actionMap$.get('dob')"     label="{{'RetailSelfRegisterForm.dob.label' | translate }}"   formControlName="dob"  placeholder="{{'RetailSelfRegisterForm.dob.placeholder' | translate }}" 
   [minDate]="state.dob.minDate"   [maxDate]="state.dob.maxDate"  ></app-date-of-birth-control>
	      -->
		<!-- 	      
			  <app-customer-acc-num-control  class="col-md-4"   [actionPublisher]="actionMap$.get('identificationNumber')"     label="{{'RetailSelfRegisterForm.identificationNumber.label' | translate }}"   formControlName="identificationNumber"  placeholder="{{'RetailSelfRegisterForm.identificationNumber.placeholder' | translate }}" 
   ></app-customer-acc-num-control> -->
	</box>
</form>