 
	  #accountNumber {        text-align: left !important;       }
	  #routingCode {        text-align: left !important;       }
	  #bankCode {        text-align: left !important;       }
	  #branchCode {        text-align: left !important;       }
	  #bankAddress {        text-align: left !important;       }
	  #addressLine1 {        text-align: left !important;       }
	  #addressLine2 {        text-align: left !important;       }
	  #city {        text-align: left !important;       }
	  #country {        text-align: left !important;       }
	  #isFavourite {        text-align: left !important;       }
	  fpx-display-text.disclaimer-txt {
		padding-top: 10px;
	}
    
