 
	  #productCode {        text-align: left !important;       }
	  #depositCurrency {        text-align: left !important;       }
	  #depositDate {        text-align: left !important;       }
	  #debitAccount {        text-align: left !important;       }
	  #fxDetailsLbl {        font-family: sans-serif !important; font-size: 12px !important; color: #555 !important; font-style: normal !important; text-align: left !important;       }
	  #tenorInMonths {        text-align: left !important;       }
	  #interestpaymentfrequency {        text-align: left !important;       }
	  #maturityDetailsLbl {        font-family: sans-serif !important; font-size: 12px !important; color: #555 !important; font-style: normal !important; text-align: left !important;       }
	  #maturityInstructions {        text-align: left !important;       }
	  #creditAccount {        text-align: left !important;       }
	  #remarks {        text-align: left !important;       }
	  #termsFlag {        text-align: right !important;       }
 
    
