<div class="fpx-form-control">
  <!-- <mat-label [innerText]="label"></mat-label> -->
  <fpx-label [control]="formControl" [label]="label" ></fpx-label>
  <div class="fpx-form-field icon-field">
    <input [type]="passwordType" matInput [formControl]="formControl" />
    <ng-container *ngIf="passwordType === 'text'; else password">
      <mat-icon
        (click)="passwordType = 'password'"
        matSuffix 
      >visibility</mat-icon>
    </ng-container>
    <ng-template #password>
      <mat-icon
        (click)="passwordType = 'text'"
        matSuffix
      >visibility_off</mat-icon>
    </ng-template>
  </div>
</div>
