<form [formGroup]="formGroup" autocomplete="off" formName="RetailLimitRequestControl">


	<box class="entry-form">

		<ng-container *ngIf="state.cardData && device.isMobile()">
			<creditcard class="col-12" [cardData]="state.cardData" [formView]="true"></creditcard>
		</ng-container>

		<!-- <app-credit-card-list-control class="col-sm-12 col-md-6 col-lg-4"
			[actionPublisher]="actionMap$.get('cardRefNumber')"
			label="{{'RetailLimitRequestControl.cardRefNumber.label' | translate }}" formControlName="cardRefNumber"
			(commonControlEvent)="handleControlEvent($event)"></app-credit-card-list-control> -->


			<box class="module-tab-container col-sm-12 col-lg-12">
				<mat-tab-group
				  [(selectedIndex)]="_helper.activeTabIndex"
				  (selectedTabChange)="_helper.onTabChanged($event)"
				>
				  <mat-tab
					label="{{ 'CCLIMIT.domestic' | translate }}"
				  >
					<!-- <ng-template matTabContent> -->
						<box class="entry-form grid entry-form-field-group col-sm-12">


							<box class="slider-field">
								<app-dc-service-flag class="col-md-4" [actionPublisher]="actionMap$.get('atmFlag')"
									label="{{'RetailLimitRequestControl.atmFlag.label' | translate }}"
									formControlName="atmFlag" [ckValues]="state.serviceFlag.ckValues"></app-dc-service-flag>
								<app-dc-amount-slider class="col-sm-12 col-md-6 col-lg-6"
									[actionPublisher]="actionMap$.get('atmLimit')"
									label="{{'RetailLimitRequestControl.atmLimit.label' | translate }}"
									formControlName="atmLimit" [min]="state.atmLimit.min" [max]="state.atmLimit.max"
									[step]="state.atmLimit.step"
									[currencyCode]="state.atmLimit.currencyCode"></app-dc-amount-slider>
								<hr>
							</box>
						<box class="slider-field">
						<app-dc-service-flag class="col-sm-12 col-md-6 col-lg-4"
							[actionPublisher]="actionMap$.get('onlinePurchaseFlag')"
							label="{{'RetailLimitRequestControl.onlinePurchaseFlag.label' | translate }}"
							formControlName="onlinePurchaseFlag" [ckValues]="state.serviceFlag.ckValues"></app-dc-service-flag>
						<app-dc-amount-slider class="col-sm-12 col-md-6 col-lg-4"
							[actionPublisher]="actionMap$.get('onlinePurchaseLimit')"
							label="{{'RetailLimitRequestControl.onlinePurchaseLimit.label' | translate }}"
							formControlName="onlinePurchaseLimit" [min]="state.onlinePurchaseLimit.min"
							[max]="state.onlinePurchaseLimit.max" [step]="state.onlinePurchaseLimit.step"
							[currencyCode]="state.onlinePurchaseLimit.currencyCode"></app-dc-amount-slider>
							<hr>
						</box>
						<box class="slider-field">
						<app-dc-service-flag class="col-sm-12 col-md-6 col-lg-4"
							[actionPublisher]="actionMap$.get('contactlessPurchaseFlag')"
							label="{{'RetailLimitRequestControl.contactlessPurchaseFlag.label' | translate }}"
							formControlName="contactlessPurchaseFlag" [ckValues]="state.serviceFlag.ckValues"></app-dc-service-flag>
						<app-dc-amount-slider class="col-sm-12 col-md-6 col-lg-4"
							[actionPublisher]="actionMap$.get('contactlessPurchaseLimit')"
							label="{{'RetailLimitRequestControl.contactlessPurchaseLimit.label' | translate }}"
							formControlName="contactlessPurchaseLimit" [min]="state.contactlessPurchaseLimit.min"
							[max]="state.contactlessPurchaseLimit.max" [step]="state.contactlessPurchaseLimit.step"
							[currencyCode]="state.contactlessPurchaseLimit.currencyCode"></app-dc-amount-slider>
							<hr>
						</box>
						<box class="slider-field">
						<app-dc-service-flag class="col-sm-12 col-md-6 col-lg-4"
							[actionPublisher]="actionMap$.get('posPayFlag')"
							label="{{'RetailLimitRequestControl.posPayFlag.label' | translate }}"
							formControlName="posPayFlag" [ckValues]="state.serviceFlag.ckValues"></app-dc-service-flag>
						<app-dc-amount-slider class="col-sm-12 col-md-6 col-lg-4"
							[actionPublisher]="actionMap$.get('posPayLimit')"
							label="{{'RetailLimitRequestControl.posPayLimit.label' | translate }}" formControlName="posPayLimit"
							[min]="state.posPayLimit.min" [max]="state.posPayLimit.max" [step]="state.posPayLimit.step"
							[currencyCode]="state.posPayLimit.currencyCode"></app-dc-amount-slider>
							<hr>
						</box>
					</box>
					
					<!-- </ng-template> -->
				  </mat-tab>
				  <mat-tab label="{{ 'CCLIMIT.international' | translate }}">
				<!-- <ng-template matTabContent> -->
						<box class="entry-form grid entry-form-field-group col-sm-12">

							<box class="slider-field">
							<app-dc-service-flag class="col-sm-12 col-md-6 col-lg-4"
								[actionPublisher]="actionMap$.get('intlAtmFlag')"
								label="{{'RetailLimitRequestControl.intlAtmFlag.label' | translate }}"
								formControlName="intlAtmFlag" [ckValues]="state.serviceFlag.ckValues"></app-dc-service-flag>
							<app-dc-amount-slider class="col-sm-12 col-md-6 col-lg-4"
								[actionPublisher]="actionMap$.get('intlAtmLimit')"
								label="{{'RetailLimitRequestControl.intlAtmLimit.label' | translate }}" formControlName="intlAtmLimit"
								[min]="state.intlAtmLimit.min" [max]="state.intlAtmLimit.max" [step]="state.intlAtmLimit.step"
								[currencyCode]="state.intlAtmLimit.currencyCode"></app-dc-amount-slider>
								<hr>
							</box>
							<box class="slider-field">
							<app-dc-service-flag class="col-sm-12 col-md-6 col-lg-4"
								[actionPublisher]="actionMap$.get('intlOnlinePurchaseFlag')"
								label="{{'RetailLimitRequestControl.intlOnlinePurchaseFlag.label' | translate }}"
								formControlName="intlOnlinePurchaseFlag" [ckValues]="state.serviceFlag.ckValues"></app-dc-service-flag>
							<app-dc-amount-slider class="col-sm-12 col-md-6 col-lg-4"
								[actionPublisher]="actionMap$.get('intlOnlinePurchaseLimit')"
								label="{{'RetailLimitRequestControl.intlOnlinePurchaseLimit.label' | translate }}"
								formControlName="intlOnlinePurchaseLimit" [min]="state.intlOnlinePurchaseLimit.min"
								[max]="state.intlOnlinePurchaseLimit.max" [step]="state.intlOnlinePurchaseLimit.step"
								[currencyCode]="state.intlOnlinePurchaseLimit.currencyCode"></app-dc-amount-slider>
								<hr>
							</box>
							<box class="slider-field">
							<app-dc-service-flag class="col-sm-12 col-md-6 col-lg-4"
								[actionPublisher]="actionMap$.get('intlContactlessPurchaseFlag')"
								label="{{'RetailLimitRequestControl.intlContactlessPurchaseFlag.label' | translate }}"
								formControlName="intlContactlessPurchaseFlag" [ckValues]="state.serviceFlag.ckValues"></app-dc-service-flag>
							<app-dc-amount-slider class="col-sm-12 col-md-6 col-lg-4"
								[actionPublisher]="actionMap$.get('intlContactlessPurchaseLimit')"
								label="{{'RetailLimitRequestControl.intlContactlessPurchaseLimit.label' | translate }}"
								formControlName="intlContactlessPurchaseLimit" [min]="state.intlContactlessPurchaseLimit.min"
								[max]="state.intlContactlessPurchaseLimit.max" [step]="state.intlContactlessPurchaseLimit.step"
								[currencyCode]="state.intlContactlessPurchaseLimit.currencyCode"></app-dc-amount-slider>
								<hr>
							</box>
							<box class="slider-field">
							<app-dc-service-flag class="col-sm-12 col-md-6 col-lg-4"
								[actionPublisher]="actionMap$.get('intlPosPayFlag')"
								label="{{'RetailLimitRequestControl.intlPosPayFlag.label' | translate }}"
								formControlName="intlPosPayFlag" [ckValues]="state.serviceFlag.ckValues"></app-dc-service-flag>
							<app-dc-amount-slider class="col-sm-12 col-md-6 col-lg-4"
								[actionPublisher]="actionMap$.get('intlPosPayLimit')"
								label="{{'RetailLimitRequestControl.intlPosPayLimit.label' | translate }}"
								formControlName="intlPosPayLimit" [min]="state.intlPosPayLimit.min"
								[max]="state.intlPosPayLimit.max" [step]="state.intlPosPayLimit.step"
								[currencyCode]="state.intlPosPayLimit.currencyCode"></app-dc-amount-slider>
								<hr>
							</box>
						</box>
					 
				<!-- </ng-template> -->
				  </mat-tab>
				  <mat-tab
              label="{{ 'CCLIMIT.regional' | translate }}"
            >
              <ng-template matTabContent>
				<box class="grid entry-form-field-group col-sm-12">
					<box class="fpx-form-control search-group col-sm-12 col-lg-12">
						<input mat-input type="text" 
							formControlName="searchText"
							placeholder="Search" class="fpx-field-content search-bar col-sm-12 col-12" />
					</box>
					<mat-accordion *ngIf="this.state.continent!.length > 0" multi="true">
						<mat-expansion-panel #accordianContainer *ngFor="let continentDescription of this.state.continent; let i = index" [expanded]="state.step === i">
							<mat-expansion-panel-header>
								<mat-panel-title>
									<p [innerHTML]="continentDescription"></p>
								</mat-panel-title>
							</mat-expansion-panel-header>
							<div *ngFor="let country of this.state.limitCountriesObj[continentDescription]; let i = index" class="content">
								<mat-checkbox class="example-margin" (change)="_helper.onClickCountryCheckbox(country)" [checked]='country.enabled == "1" ?true: false'>{{country.countryDescription}}</mat-checkbox>
							</div>
						</mat-expansion-panel>
					</mat-accordion>
				</box>
              </ng-template>
            </mat-tab>
				</mat-tab-group>
			  </box>
		<!-- <fpx-accordion-group class="col-sm-12">
				<fpx-accordion class="grid entry-form-field-group" [title]="_helper.tabDetails[0].name">
					<box class="entry-form col-sm-12">


						<box class="slider-field">
							<app-dc-service-flag class="col-md-4" [actionPublisher]="actionMap$.get('atmFlag')"
								label="{{'RetailLimitRequestControl.atmFlag.label' | translate }}"
								formControlName="atmFlag" [ckValues]="state.serviceFlag.ckValues"></app-dc-service-flag>
							<app-dc-amount-slider class="col-sm-12 col-md-6 col-lg-6"
								[actionPublisher]="actionMap$.get('atmLimit')"
								label="{{'RetailLimitRequestControl.atmLimit.label' | translate }}"
								formControlName="atmLimit" [min]="state.atmLimit.min" [max]="state.atmLimit.max"
								[step]="state.atmLimit.step"
								[currencyCode]="state.atmLimit.currencyCode"></app-dc-amount-slider>
							<hr>
						</box>
					<box class="slider-field">
					<app-dc-service-flag class="col-sm-12 col-md-6 col-lg-4"
						[actionPublisher]="actionMap$.get('onlinePurchaseFlag')"
						label="{{'RetailLimitRequestControl.onlinePurchaseFlag.label' | translate }}"
						formControlName="onlinePurchaseFlag"></app-dc-service-flag>
					<app-dc-amount-slider class="col-sm-12 col-md-6 col-lg-4"
						[actionPublisher]="actionMap$.get('onlinePurchaseLimit')"
						label="{{'RetailLimitRequestControl.onlinePurchaseLimit.label' | translate }}"
						formControlName="onlinePurchaseLimit" [min]="state.onlinePurchaseLimit.min"
						[max]="state.onlinePurchaseLimit.max" [step]="state.onlinePurchaseLimit.step"
						[currencyCode]="state.onlinePurchaseLimit.currencyCode"></app-dc-amount-slider>
                    </box>
					<box class="slider-field">
					<app-dc-service-flag class="col-sm-12 col-md-6 col-lg-4"
						[actionPublisher]="actionMap$.get('contactlessPurchaseFlag')"
						label="{{'RetailLimitRequestControl.contactlessPurchaseFlag.label' | translate }}"
						formControlName="contactlessPurchaseFlag"></app-dc-service-flag>
					<app-dc-amount-slider class="col-sm-12 col-md-6 col-lg-4"
						[actionPublisher]="actionMap$.get('contactlessPurchaseLimit')"
						label="{{'RetailLimitRequestControl.contactlessPurchaseLimit.label' | translate }}"
						formControlName="contactlessPurchaseLimit" [min]="state.contactlessPurchaseLimit.min"
						[max]="state.contactlessPurchaseLimit.max" [step]="state.contactlessPurchaseLimit.step"
						[currencyCode]="state.contactlessPurchaseLimit.currencyCode"></app-dc-amount-slider>
                    </box>
					<box class="slider-field">
					<app-dc-service-flag class="col-sm-12 col-md-6 col-lg-4"
						[actionPublisher]="actionMap$.get('posPayFlag')"
						label="{{'RetailLimitRequestControl.posPayFlag.label' | translate }}"
						formControlName="posPayFlag"></app-dc-service-flag>
					<app-dc-amount-slider class="col-sm-12 col-md-6 col-lg-4"
						[actionPublisher]="actionMap$.get('posPayLimit')"
						label="{{'RetailLimitRequestControl.posPayLimit.label' | translate }}" formControlName="posPayLimit"
						[min]="state.posPayLimit.min" [max]="state.posPayLimit.max" [step]="state.posPayLimit.step"
						[currencyCode]="state.posPayLimit.currencyCode"></app-dc-amount-slider>
					</box>
				</box>
				</fpx-accordion>
				<fpx-accordion class="grid entry-form-field-group" [title]="_helper.tabDetails[1].name">
					<box class="entry-form col-sm-12">

					<box class="slider-field">
					<app-dc-service-flag class="col-sm-12 col-md-6 col-lg-4"
						[actionPublisher]="actionMap$.get('intlAtmFlag')"
						label="{{'RetailLimitRequestControl.intlAtmFlag.label' | translate }}"
						formControlName="intlAtmFlag"></app-dc-service-flag>
					<app-dc-amount-slider class="col-sm-12 col-md-6 col-lg-4"
						[actionPublisher]="actionMap$.get('intlAtmLimit')"
						label="{{'RetailLimitRequestControl.intlAtmLimit.label' | translate }}" formControlName="intlAtmLimit"
						[min]="state.intlAtmLimit.min" [max]="state.intlAtmLimit.max" [step]="state.intlAtmLimit.step"
						[currencyCode]="state.intlAtmLimit.currencyCode"></app-dc-amount-slider>
					</box>
					<box class="slider-field">
					<app-dc-service-flag class="col-sm-12 col-md-6 col-lg-4"
						[actionPublisher]="actionMap$.get('intlOnlinePurchaseFlag')"
						label="{{'RetailLimitRequestControl.intlOnlinePurchaseFlag.label' | translate }}"
						formControlName="intlOnlinePurchaseFlag"></app-dc-service-flag>
					<app-dc-amount-slider class="col-sm-12 col-md-6 col-lg-4"
						[actionPublisher]="actionMap$.get('intlOnlinePurchaseLimit')"
						label="{{'RetailLimitRequestControl.intlOnlinePurchaseLimit.label' | translate }}"
						formControlName="intlOnlinePurchaseLimit" [min]="state.intlOnlinePurchaseLimit.min"
						[max]="state.intlOnlinePurchaseLimit.max" [step]="state.intlOnlinePurchaseLimit.step"
						[currencyCode]="state.intlOnlinePurchaseLimit.currencyCode"></app-dc-amount-slider>
					</box>
					<box class="slider-field">
					<app-dc-service-flag class="col-sm-12 col-md-6 col-lg-4"
						[actionPublisher]="actionMap$.get('intlContactlessPurchaseFlag')"
						label="{{'RetailLimitRequestControl.intlContactlessPurchaseFlag.label' | translate }}"
						formControlName="intlContactlessPurchaseFlag"></app-dc-service-flag>
					<app-dc-amount-slider class="col-sm-12 col-md-6 col-lg-4"
						[actionPublisher]="actionMap$.get('intlContactlessPurchaseLimit')"
						label="{{'RetailLimitRequestControl.intlContactlessPurchaseLimit.label' | translate }}"
						formControlName="intlContactlessPurchaseLimit" [min]="state.intlContactlessPurchaseLimit.min"
						[max]="state.intlContactlessPurchaseLimit.max" [step]="state.intlContactlessPurchaseLimit.step"
						[currencyCode]="state.intlContactlessPurchaseLimit.currencyCode"></app-dc-amount-slider>
					</box>
                    <box class="slider-field">
					<app-dc-service-flag class="col-sm-12 col-md-6 col-lg-4"
						[actionPublisher]="actionMap$.get('intlPosPayFlag')"
						label="{{'RetailLimitRequestControl.intlPosPayFlag.label' | translate }}"
						formControlName="intlPosPayFlag"></app-dc-service-flag>
					<app-dc-amount-slider class="col-sm-12 col-md-6 col-lg-4"
						[actionPublisher]="actionMap$.get('intlPosPayLimit')"
						label="{{'RetailLimitRequestControl.intlPosPayLimit.label' | translate }}"
						formControlName="intlPosPayLimit" [min]="state.intlPosPayLimit.min"
						[max]="state.intlPosPayLimit.max" [step]="state.intlPosPayLimit.step"
						[currencyCode]="state.intlPosPayLimit.currencyCode"></app-dc-amount-slider>
					</box>
				</box>
			</fpx-accordion>
			<fpx-accordion class="grid entry-form-field-group" [title]="_helper.tabDetails[2].name">
				<box class="col-sm-12">
					<box class="fpx-form-control search-group col-sm-12 col-lg-12">
						<input mat-input type="text" 
							formControlName="searchText"
							placeholder="Search" class="fpx-field-content search-bar col-sm-12 col-12" />
					</box>
					<mat-accordion *ngIf="this.state.continent!.length > 0" multi="true">
						<mat-expansion-panel #accordianContainer *ngFor="let continentDescription of this.state.continent; let i = index" [expanded]="state.step === i">
							<mat-expansion-panel-header>
								<mat-panel-title>
									<p [innerHTML]="continentDescription"></p>
								</mat-panel-title>
							</mat-expansion-panel-header>
							<div *ngFor="let country of this.state.limitCountriesObj[continentDescription]; let i = index" class="content">
								<mat-checkbox class="example-margin" (change)="_helper.onClickCountryCheckbox(country)" [checked]='country.enabled == "1" ?true: false'>{{country.countryDescription}}</mat-checkbox>
							</div>
						</mat-expansion-panel>
					</mat-accordion>
				</box>
			</fpx-accordion>
		</fpx-accordion-group> -->
		<app-remarks-control class="col-sm-12 col-md-6 col-lg-4" [actionPublisher]="actionMap$.get('remarks')"
			label="{{'RetailLimitRequestControl.remarks.label' | translate }}" formControlName="remarks"></app-remarks-control>


		<box id="group_disclaimer-box" class="col-sm-12 col-md-6 col-lg-12 grid main-group term-box">
			<app-terms-control class="col-sm-12 col-sm-12 col-md-12 col-lg-12 col-lg-12"
				[actionPublisher]="actionMap$.get('terms')" label="{{'RetailLimitRequestControl.terms.label' | translate }}"
				formControlName="terms" [textPosition]="state.terms.textPosition"
				[ckValues]="state.terms.ckValues"></app-terms-control>


		</box>

	</box>


</form>