 
	  #terms {        text-align: left !important;       }
	  #atmFlag {        text-align: left !important;       }
	  #onlinePurchaseFlag {        text-align: left !important;       }
	  #intlContactlessPurchaseFlag {        text-align: left !important;       }
	  #intlPosPayFlag {        text-align: left !important;       }
	  #intlAtmFlag {        text-align: left !important;       }
	  #contactlessPurchaseFlag {        text-align: left !important;       }
	  #intlOnlinePurchaseFlag {        text-align: left !important;       }
 
    
