<form [formGroup]="formGroup" (ngSubmit)="submit()" autocomplete="off" formName="RetailFilterTransaction">
    <box class="entry-form">
      <box class="grid entry-form-field-group">
        <app-range-type-control class="col-sm-12 col-md-6 col-lg-6"
          [actionPublisher]="actionMap$.get('transactionPeriod')" label="{{
            'RetailFilterTransaction.transactionPeriod.label' | translate
          }}" formControlName="transactionPeriod"></app-range-type-control>
  
        <app-request-date-control class="col-sm-12 col-md-6 col-lg-6" [actionPublisher]="actionMap$.get('fromDate')"
          label="{{ 'RetailFilterTransaction.fromDate.label' | translate }}" formControlName="fromDate"
          [minDate]="state.fromDate.minDate" [maxDate]="state.fromDate.maxDate"></app-request-date-control>
  
        <app-request-date-control class="col-sm-12 col-md-6 col-lg-6" [actionPublisher]="actionMap$.get('toDate')"
          label="{{ 'WalletFilterTransaction.toDate.label' | translate }}" formControlName="toDate"
          [minDate]="state.toDate.minDate" [maxDate]="state.toDate.maxDate"></app-request-date-control>
   
<!--   
        <app-beneficiary-name-control class="col-sm-12 col-md-6 col-lg-6"
          [actionPublisher]="actionMap$.get('walletName')" label="{{
            'WalletFilterTransaction.beneficiaryName.label' | translate
          }}" formControlName="walletName"></app-beneficiary-name-control> -->
  
        <app-transaction-ref-control
          class="col-sm-12 col-md-6 col-lg-6"
          [actionPublisher]="actionMap$.get('transactionReference')"
          label="{{
            'RetailFilterTransaction.transactionReference.label' | translate
          }}"
          formControlName="transactionReference"
        ></app-transaction-ref-control>
  
        <!-- <app-bene-bank-name-control
          class="col-sm-12 col-md-6 col-lg-6"
          [actionPublisher]="actionMap$.get('beneficiaryBank')"
          label="{{
            'RetailFilterTransaction.beneficiaryBank.label' | translate
          }}"
          formControlName="beneficiaryBank"
        >
        </app-bene-bank-name-control> -->
  
        <app-tran-amount-control class="col-sm-12 col-md-6 col-lg-6" [actionPublisher]="actionMap$.get('transactionAmount')"
          label="{{ 'RetailFilterTransaction.paymentAmount.label' | translate }}" formControlName="transactionAmount">
        </app-tran-amount-control>
  
        <box class="radio-btn-container"  *ngFor="let status of _helper.statusEnum | keyvalue" >
           <mat-radio-button class="default" color="primary"  [checked]="false"   formControlName="transType"   
          name="status"
          [value]="status.value"
          [(ngModel)]="_helper.transType"
          (change)="_helper.onStatusChange($event)">
          </mat-radio-button><span> {{ status.value }}</span>
      </box>
        
        <box class="form-action-container">
          <fpx-button class="col-xs-2" [actionPublisher]="actionMap$.get('reset')"
            label="{{'DEFAULT.reset' | translate }}" btnClass=" btn-secondary" [buttonMode]="'button'"
            (onClick)="WalletFilterTransactionFormHelper.onResetClick(null)"></fpx-button>
          <fpx-button class="col-xs-2" [actionPublisher]="actionMap$.get('view')" label="{{'DEFAULT.view' | translate }}"
            btnClass=" btn-primary" [buttonMode]="'button'" [disable]="!formGroup.valid"
            (onClick)="WalletFilterTransactionFormHelper.onViewClick(null)"></fpx-button>
        </box>
      </box>
    </box>
  </form>
  