<form [formGroup]="formGroup" (ngSubmit)="submit()" autocomplete="off" formName="RetailPfmBudgetReqForm" >
	  
	<box class="entry-form">
	     
	     <box class="grid entry-form-field-group">
			  <app-pfm-category  class="col-sm-12 col-md-6 col-lg-6"   [actionPublisher]="actionMap$.get('categoryCode')"     label="{{'RetailPfmBudgetReqForm.categoryCode.label' | translate }}"   formControlName="categoryCode" 
     ></app-pfm-category>
	     
	      
			  <app-pfm-sub-category-list-control  class="col-sm-12 col-md-6 col-lg-6"   [actionPublisher]="actionMap$.get('subCategoryCode')"     label="{{'RetailPfmBudgetReqForm.subCategoryCode.label' | translate }}"   formControlName="subCategoryCode" 
			  [changePublisher]="formChangePublisher$"    	 
			  [dependencyField]="['categoryCode']"
			  ></app-pfm-sub-category-list-control>
	     
	      
			  <app-currency-list-control  class="col-sm-12 col-md-6 col-lg-6"   [actionPublisher]="actionMap$.get('currencyCode')"     label="{{'RetailPfmBudgetReqForm.currencyCode.label' | translate }}"   formControlName="currencyCode" 
   ></app-currency-list-control>
	     
   <app-amount-control  class="col-sm-12 col-md-6 col-lg-6  "   [actionPublisher]="actionMap$.get('budgetAmount')"     label="{{'RetailPfmBudgetReqForm.budgetAmount.label' | translate }}"   formControlName="budgetAmount" 
   [CurrencyList]="state.budgetAmount.CurrencyList" [isCurrEditable]="state.budgetAmount.isCurrEditable"  [defaultFetch]="state.budgetAmount.defaultFetch" [initCurrency]="state.budgetAmount.initCurrency" [amountInWords]="state.budgetAmount.amountInWords">  ></app-amount-control>
	    
	      
			  <app-request-date-control  class="col-sm-12 col-md-6 col-lg-6"   [actionPublisher]="actionMap$.get('startDate')"     label="{{'RetailPfmBudgetReqForm.startDate.label' | translate }}"   formControlName="startDate" 
   [minDate]="state.startDate.minDate"   [maxDate]="state.startDate.maxDate"  ></app-request-date-control>
	     

   <app-budget-frequency-control class="col-sm-12 col-md-6 col-lg-6"   [actionPublisher]="actionMap$.get('budgetFrequency')"     label="{{'RetailPfmBudgetReqForm.budgetFrequency.label' | translate }}"   formControlName="budgetFrequency" 
     ></app-budget-frequency-control>
	      
			  <app-request-date-control  class="col-sm-12 col-md-6 col-lg-6"   [actionPublisher]="actionMap$.get('endDate')"     label="{{'RetailPfmBudgetReqForm.endDate.label' | translate }}"   formControlName="endDate" 
   [minDate]="state.endDate.minDate"   [maxDate]="state.endDate.maxDate"  ></app-request-date-control>
	     
		</box> 
	</box> 
</form>
	
