 form {
     border-radius: 15px;
     background-color: var(--elementSecondaryBgClr);
     font-family: 'inter';
 }

.entry-form  {
    padding: 10px 15px;
    font-family: 'inter';
    font-size: medium;
    font-weight: 500;
}
 