<form
  formName="changePassword"
  [autocomplete]="'off'"
  (ngSubmit)="submit()"
  [formGroup]="formGroup"
>
  <div class="grid">
    <div class="col-md-4">
      <app-change-password-control
        label="{{ 'CHANGEPASSWORD.currentPass' | translate }}"
        formControlName="currentPass"
      ></app-change-password-control>
    </div>
    <div class="col-md-4">
      <app-change-password-control
        label="{{ 'CHANGEPASSWORD.newPass' | translate }}"
        formControlName="newPass"
      ></app-change-password-control>
    </div>
    <div class="col-md-4">
      <app-change-password-control
        label="{{ 'CHANGEPASSWORD.confirmPass' | translate }}"
        formControlName="confirmPass"
      >
      </app-change-password-control>
    </div>
  </div>
  <ng-container
    *ngIf="embadedFormMode === 'ADD' || embadedFormMode === 'MODIFY'"
  >
    <div class="form-footer-actions">
      <div class="btn-container">
        <button class="btn-tertiary" type="reset">
          {{ "CHANGEPASSWORD.reset" | translate }}
        </button>
      </div>
      <div class="btn-container">
        <button
          class="btn-primary"
          [disabled]="formGroup.invalid && !formGroup.pending"
          type="submit"
        >
          {{ "CHANGEPASSWORD.submit" | translate }}
        </button>
      </div>
    </div>
  </ng-container>
</form>
