<form name="settingsForm">
    <box class="entry-form">
        <box class="entry-form-field-group col-12 dep-list-group">
            <ul class="dep-list other-request-list">
                <ng-container *ngIf="_helper.settingsMenu">
                    <ng-container *ngFor="let item of _helper.settingsMenu">
                        <li [ngClass]="{'active': _helper.activeMenu == item.serviceCode}" class="dep-list-item request-list-item" (click)="_helper.openLink(item)">
                            <box class="list-body request-type-info">
                                <span class="request-type">{{ 'SettingsServiceDesc.' + item.serviceCode + '.name' | translate }}</span>
                                <span class="request-type-desc">{{ 'SettingsServiceDesc.' + item.serviceCode + '.desc' | translate }}</span>
                            </box>
                        </li>
                    </ng-container>
                </ng-container>
            </ul>
        </box>
    </box>
</form>